{% extends 'base.html' %}
{% load url from future %}

{% block title %}Email confirmation{% endblock %}

{% block base_content %}
<div class="modal">
    {% if email %}
    <div class="modal-header">
        <h2>You successfully confirmed your email {{ email.value }}</h2>
    </div>
    <div class="modal-body">
        <p>If you wish, you can go back to your <a href="{% url 'account' %}">account</a>.</p>
    </div>
    {% else %}
    <div class="modal-header">
        <h2>Activation link invalid!</h2>
    </div>
    <div class="modal-body">
        <p>The activation link you used is invalid!</p>
    </div>
    {% endif %}
</div>
{% endblock %}
