{% extends 'base.html' %}
{% load url from future %}

{% block title %}Log in to Confucius{% endblock %}

{% block style %}
<style>
.login-descr{
margin-bottom: 15px;
}
</style>
{% endblock %}

{% block base_content %}
<div class = "container">
  
     <div class="row login-descr">
    <div class="offset2 span2">
      <img src="{{ STATIC_URL }}upemlv.jpg" />
    </div>
    <div class="offset1 span4">
      <h3 >Welcome to the Confucius conference management system of UPEMLV.</H3>
    </div>
  </div>

<div class="row">
<div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
	  <div class="modal-header">


	      <h3>Log in to Confucius</h3>
	  </div>
	  <form class="form-horizontal" method="post">{% csrf_token %}
	      <div class="modal-body">
		  {% include 'includes/form.html' %}
	      </div>
	      <div class="modal-footer">
		  <input type="submit" class="btn btn-large btn-primary" value="Log in">
		  <span><a href="{% url 'password_reset' %}" class="btn btn-large">I forgot my password</a></span>
	      </div>
	  </form>

      </div> </div> </div>
{% endblock %}
