{% extends 'base.html' %}
{% load url from future %}

{% block title %}Log in to Confucius{% endblock %}

{% block style %}
<style>
.login-descr{
margin-bottom: 15px;
}
</style>
{% endblock %}

{% block base_content %}
<div class="modal">
	  <div class="modal-header">
	      <h3>Log in to Confucius</h3>
	  </div>
	  <form class="form-horizontal" method="post">{% csrf_token %}
	      <div class="modal-body">
		  {% include 'includes/form.html' %}
	      </div>
	      <div class="modal-footer">
		  <input type="submit" class="btn btn-large btn-primary" value="Log in">
		  <span><a href="{% url 'password_reset' %}" class="btn btn-large">I forgot my password</a></span>
	      </div>
	  </form>

      </div> 
{% endblock %}

{% block script %}
<script>
    (function() {
        document.getElementById('id_username').focus();
    })();
</script>
{% endblock %}
