{% extends 'base-out.html' %}
{% load url from future %}

{% block title %}Confucius change password{% endblock %}

{% block base_content %}
<form action="{% url 'password_change' %}" method="post">
{% csrf_token %}
    <fieldset>
        <div class="modal">
            <div class="modal-header">
                <h3>Change password</h3>
            </div>
            <div class="modal-body">
                {% if user.is_authenticated %}
                     <div class="alert alert-info">
                         User {{ user.username }} is currently logged. <a href="{% url 'logout %}'">Logout</a> to change your password this way.
                     </div>
                {% else %}
                    <div class="control-group">
                        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                        <div class="controls">
                            {{ form }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            {% endif %}
        </div>
    </fieldset>
</form>
{% endblock %}
