{% extends "base-out.html" %}
{% load url from future %}

{% block title %}Confucius password reset{% endblock %}

{% block content %}
<div class="modal">
    <div class="modal-header">
        <h3>Password reset successful</h3>
    </div>
    <div class="modal-body">
        <p>We've e-mailed you instructions for setting your password to your main email address.</p>
        <p>You should receive it shortly (check your spam folder if not).</p>
        <p><p>Go to <a href="{% url 'login' %}">log in</a> page.</p></p>
    </div>
</div>
{% endblock %}


