{% extends "base-out.html" %}
{% load url from future %}

{% block title %}Confucius reset password{% endblock %}

{% block content %}
<form class="form-horizontal" action="{% url 'password_reset' %}" method="post">
{% csrf_token %}
    <fieldset>
        <div class="modal">
            <div class="modal-header">
                <h3>Reset password</h3>
            </div>
            <div class="modal-body">
                {% if user.is_authenticated %}
                     <div class="alert alert-info">
                         User {{ user.firstname }} {{ user.lastname }} is currently logged. <a href="{% url 'logout' %}">Logout</a> to switch account.
                     </div>
                {% else %}
                    {% if form.email.errors %}
                    <div class="alert alert-error">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                    <p>Please enter your email where a link to reset your password will be sent.</p>
                    <div class="control-group">
                        <label class="controls-label">{{ form.email.label }}</label>
                        <div class="controls">
                            {{ form.email }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Reset password</button>
                </div>
            {% endif %}
        </div>
    </fieldset>
</form>
{% endblock %}
