{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Confucius change password{% endblock %}

{% block content_header %}
<h1>Change password</h1>
{% endblock %}

{% block content_main %}

{% if form.errors %}
<div class="alert alert-error">
    {{ form.errors }}
</div>
{% endif %}

<form class="form-horizontal" action="{% url 'password_change' %}" method="post">
{% csrf_token %}
    <fieldset>
        <div class="control-group">
            <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
            <div class="controls">
                {{ form }}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Change my password</button>
        </div>
    </fieldset>
</form>
{% endblock %}
