{% extends 'base.html' %}
{% load url from future %}

{% block title %}Reset my password{% endblock %}

{% block base_content %}
<div class="modal">
    <div class="modal-header">
        <h2>Reset my password</h2>
    </div>
    <form class="form-horizontal" method="post">{% csrf_token %}
        <div class="modal-body">
            {% include 'includes/form.html' %}
            <p>Please enter your main email so we can send you a reset link.</p>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-large btn-primary" value="Reset my password">
        </div>
    </form>
</div>
{% endblock %}
