{% extends 'base.html' %}
{% load url from future %}

{% block title %}Password reset link sent!{% endblock %}

{% block base_content %}
<div class="modal">
    <div class="modal-header">
        <h3>Password reset link sent!</h3>
    </div>
    <div class="modal-body">
        <p>We've e-mailed a reset link to your main email address, you should receive it shortly.</p>
        <p>If you wish, you can go back to the <a href="{% url 'login' %}">login</a> page.</p>
    </div>
</div>
{% endblock %}
