{% extends 'base.html' %}
{% load url from future %}

{% block title %}Update your password{% endblock %}

{% block base_content %}
<div class="modal">
    {% if validlink %}
    <div class="modal-header">
        <h2>Set your new password</h2>
    </div>
    <form class="form-horizontal" method="post">{% csrf_token %}
        <div class="modal-body">
            {% include 'includes/form.html' %}
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-large btn-primary" value="Set new password">
        </div>
    </form>
    {% else %}
    <div class="modal-header">
        <h2>Password reset link invalid!</h2>
    </div>
    <div class="modal-body">
        <p>The password reset link you used is invalid, possibly because it has already been used.</p>
        <p>Please <a href="{% url 'password_reset' %}">request a new password reset link</a>.</p>
    </div>
    {% endif %}
</div>
{% endblock %}
