{% extends 'base.html' %}
{% load url from future %}
{% load extra %}

{% block topbar %}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">
                {% block brand %}
                    {% if conference %}
                        Conference "{{ conference.title }}"  {% if not conference.is_open %}(closed){% endif %}
                    {% else %}
                        Confucius
                    {% endif %}
                {% endblock %}
            </a>
            <div class="nav-collapse">
                <div class="pull-right logo"> 
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} {{ user.last_name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'account' %}"><i class="icon-user"></i> My account</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}"><i class="icon-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row" role="main">
        {% block sidebar %}
        <div class="span2">
            <div class="row">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header {{ 'dashboard'|active:request }}">
                                <a href="{% url 'dashboard' %}"><i class="icon-home {{'dashboard'|icon_active:request}}"></i> Dashboard</a>
                            </li>
                            {% if request.membership %}
                                {% if request.membership.has_chair_role %}
                                    <li class="nav-header"><i class="icon-comment"></i> Conference</li>
                                    <li class="{{'members'|active:request}}">
                                        <a href="{% url 'members_list' conference.pk %}">Members</a></li>
                                    <li class="{{'update'|active:request}}">
                                        <a href="{% url 'conference_edit' conference.pk %}">Edit</a></li>
                                    <li class="{{'alerts'|active:request}}">
                                        <a href="{% url 'alerts' request.conference.pk %}">Alerts</a></li>
                                    <li class="{{'invitations'|active:request}}">
                                        <a href="{% url 'invitations' request.conference.pk %}">Invitations</a></li>
                                {% endif %}
                                
                                {% if request.membership.has_submitter_role %}
                                    <li class="nav-header"><i class="icon-file"></i> Papers</li>
                                    <li class="{{'/papers'|active:request}}">
                                        <a href="{% url 'papers' request.conference.pk %}">My papers</a></li>
                                    {% if request.membership.has_chair_role %}
                                        <li class="{{'/conference_papers'|active:request}}">
                                            <a href="{% url 'conference_papers' request.conference.pk %}">All papers</a></li>
                                    {% endif %}
                                {% endif %}
                                
                                {% if request.membership.has_reviewer_role %}
                                    <li class="nav-header"><i class="icon-pencil"></i> Reviews</li>
                                    <li class="{{'/reviews'|active:request}}">
                                        <a href="{% url 'reviews' request.conference.pk %}">My reviews</a></li>
                                    {% if request.membership.has_chair_role %}
                                        <li class="{{'/conference_reviews'|active:request}}">
                                            <a href="{% url 'conference_reviews' request.conference.pk %}">All reviews</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <li class="nav-header {{ 'list'|active:request }}"><a href="{% url 'membership_list' %}"><i class="icon-th-list {{'list'|icon_active:request}}"></i> Conferences</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span2 db-top">
                    {% block subtopbar %}
                        <div class="well sidebar-dates">
                            <ul class="nav nav-list">
                                <li>
                                    <span class="nav-header date-title"><i class="icon-comment"></i> Conference</span>
                                    {% if conference.is_started %}
                                        <span class="date-value date-after"> was
                                    {% else %}
                                        <span class="date-value date-before"> is
                                    {% endif %}
                                    {{ conference.start_date|date:'SHORT_DATE_FORMAT' }}</span>
                                </li>
                                <li>
                                    <span class="nav-header date-title"><i class="icon-file"></i> Submissions</span>
                                    {% if conference.are_submissions_notstarted %}
                                        <span class="date-value date-before">
                                            start {{ conference.submissions_start_date|date:'SHORT_DATE_FORMAT' }}
                                        </span>
                                    {% else %}
                                        {% if conference.are_submissions_over %}
                                            <span class="date-value date-after">
                                                are over
                                            </span>
                                        {% else %}
                                            <span class="date-value date-before">
                                                end {{ conference.submissions_end_date|date:'SHORT_DATE_FORMAT' }}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </li>
                                <li>
                                    <span class="nav-header date-title"><i class="icon-pencil"></i> Reviews</span>
                                    {% if conference.are_reviews_notstarted %}
                                        <span class="date-value date-before">
                                            start {{ conference.reviews_start_date|date:'SHORT_DATE_FORMAT' }}
                                        </span> 
                                    {% else %}
                                        {% if conference.are_reviews_over %}
                                            <span class="date-value date-after">
                                                are over
                                            </span>
                                        {% else %}
                                            <span class="date-value date-before">
                                                end {{ conference.reviews_end_date|date:'SHORT_DATE_FORMAT' }}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </li>
                           </ul>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}

        {% block content %}
        <div class="span10 content">
            <div class="row">
                 <div class="span10">
                    <header class="well page-header">
                        {% block content_header %}{% endblock %}
                    </header>
                </div>
            </div>
            <div class="row">
                 <div class="span10 content-main" >
                    {% block content_main %}{% endblock %}
                </div>
            </div>
            <div class="row">
                <footer class="span10 footer">
                    <div class="powered">Proudly powered by <a href="http://confuciusproject.com/">Confucius</a></div>
                </footer>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
