<div class="span12 db-top">
    <div class="row">
        <div class="span5">
            <div class="db-top-inner">
                <p>The date of the conference is fixed for the 11/11/11.</p>
                <p>Welcome to the document system. Here you can posts all that you need for the conference blablabalababalalbalbalbalbalb</p>
            </div>
        </div>
        <div class="span7">
            <ul class="unstyled db-top-inner">
                <li><i class="icon-exclamation-sign icon-white"></i> Conference place changed to Toronto.</li>
                <li><i class="icon-info-sign icon-white"></i> Long phrase to test if that fits in the f### header of the dashboard for confucius development tests.</li>
                <li><i class="icon-info-sign icon-white"></i> Conference will start at 11:00 AM.</li>
            </ul>
        </div>
    </div>
</div>      
