{% extends "base-in.html" %}
{% load url from future %}

{% block title %}President home conference{% endblock %}

{% block content_header %}
{% endblock %}

{% block content_main %}

<h1>Dashboard</h1>
<br/>

<h3>Submissions</h3>
<br/>

<h3>Evaluations</h3>
<br/>
{% if alerts_trigger %}
<h3>Alerts with trigger</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>For President</th>
            <th>Roles</th>
        </tr>
        {% for alert in alerts_trigger %}
        <tr>
            <td>{{alert.title}}</td>
            <td>{{alert.trigger_date|date:"m/d/y"}}</td>
            <td>{{alert.forPresident}}</td>
            <td>
                {% for role in alert.roles.all %}
                    {{role}}
                {% empty %}
                    None
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if alerts_reminder %}
<h3>Alerts with reminder</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Reminder</th>
            <th>Event</th>
            <th>For President</th>
            <th>Roles</th>
            
        </tr>
        {% for alert in alerts_reminder %}
        <tr>
            <td>{{alert.title}}</td>
            <td>{{alert.reminder.name}}</td>
            <td>{{alert.event.name}}</td>
            <td>{{alert.forPresident}}</td>
            <td>
                {% for role in alert.roles.all %}
                    {{role}}
                {% empty %}
                    None
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if alerts_action %}
<h3>Alerts with action</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Action</th>
            <th>For President</th>
            <th>Roles</th>
        </tr>
        {% for alert in alerts_action %}
        <tr>
            <td>{{alert.title}}</td>
            <td>{{alert.action.name}}</td>
            <td>{{alert.forPresident}}</td>
            <td>
                {% for role in alert.roles.all %}
                    {{role}}
                {% empty %}
                    None
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
<a href="{% url 'create_alert' %}" class="btn btn-primary">Create Alert</a>
<br/><br/><br/>



<a href="{% url 'edit_conference' %}" >Edit the conference</a>
<br/>

{% if conference.isOpen %}
    <a href="{% url 'close_conference' %}">Close the conference</a>
{% else %}
    <a href="{% url 'open_conference' %}">Open the conference</a>
{% endif %}
<br/>

{% if not user.account.is_in_mock_mode %}
    <br/>
    <h3>MockUser</h3>
    {% for role in allroles %}
        <a href="{% url 'mockuser_conference' role.pk %}">Enter MockMode as a {{role.name}}</a><br/>
    {% endfor %}
    
{% endif %}

{% endblock %}
