{% extends "base-in.html" %}
{% load url from future %}

{% block title %}President home conference{% endblock %}

{% block content_header %}
{% endblock %}

{% block content_main %}

<h1>Dashboard</h1>
<br/>

<h3>Submissions</h3>
<br/>

<h3>Evaluations</h3>
<br/>

<a href="{% url 'edit_conference' %}">Edit the conference</a>
<br/>
{% if conference.isOpen %}
    <a href="{% url 'close_conference' %}">Close the conference</a>
{% else %}
    <a href="{% url 'open_conference' %}">Open the conference</a>
{% endif %}

{% endblock %}
