{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Account{% endblock %}

{% block subtopbar %}{% endblock %}

{% block content_header %}
<h1>Account
        <a href="{% url 'password_change' %}" class="btn btn-info">Change my password</a>
        {% if not user.is_superuser %}
            <a href="#" class="btn btn-danger" id="close_account">Close my account</a>
        {% endif %}
</h1>
{% endblock %}

{% block content_main %}
<form id="form" class="form-horizontal" method="post">{% csrf_token %}
    <div class="control-group{% if form.first_name.errors %} error{% endif %}" id="control_id_{{ form.first_name.html_name }}">
        <label class="control-label" for="id_{{ form.first_name.html_name }}">{{ form.first_name.label }}</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">
                    <i class="icon icon-pencil"></i>
                </span>
                <input name="{{ form.first_name.html_name }}" value="{{ form.first_name.value }}" class="input-medium" maxlength="30" type="text" id="id_{{ form.first_name.html_name }}">
                <span class="help-inline">{{ form.first_name.errors|first }}</span>
            </div>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group{% if form.last_name.errors %} error{% endif %}" id="control_id_{{ form.last_name.html_name }}">
        <label class="control-label" for="id_{{ form.last_name.html_name }}">{{ form.last_name.label }}</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">
                    <i class="icon icon-pencil"></i>
                </span>
                <input name="{{ form.last_name.html_name }}" value="{{ form.last_name.value }}" class="input-medium" maxlength="30" type="text" id="id_{{ form.last_name.html_name }}">
                <span class="help-inline">{{ form.last_name.errors|first }}</span>
            </div>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group{% if form.languages.errors %} error{% endif %}" id="control_group_{{ form.languages.html_name }}">
        <label class="control-label" for="id_{{ form.languages.html_name }}">{{ form.languages.label }}</label>
        <div class="controls" id="controls_{{ form.languages.html_name }}">
            <div class="input-prepend">
            <span class="add-on">
                <i class="icon icon-pencil"></i>
            </span>
                <input id="id_languages" class="input-large">
                <span class="help-inline">{{ form.languages.errors|first }}</span>
            </div>
            <p class="help-block">{{ form.languages.help_text }}</p>
            {% for language in form.languages.field.initial %}
                <span class="label" id="language_{{ language.id|add:'-1' }}">{{ language }} ×<input type="hidden" name="languages" value="{{ language.id }}"></span>
            {% endfor %}
        </div>
    </div>
    {% include 'includes/email_formset.html' %}
    {% include 'includes/address_formset.html' %}
</form>
<div class="modal hide fade" id="close_account_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Are you sure that you want to close your account?</h3>
    </div>
    <div class="modal-body">
        <p>Once your account is closed, only the platform administrator will be able to reopen it.</p>
    </div>
    <div class="modal-footer">
        <a href="{% url 'close_account' %}" class="btn btn-large btn-danger">Yes, I am</a>
        <a data-dismiss="modal" class="btn btn-large">No</a>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    div.control-group span.label:hover {
        cursor:pointer;
    }
</style>
{% endblock %}
{% block script %}
<script>
    $(function () {
        var $form = $('#form');

        function autocomplete_languages() {
            var $id_languages = $("#id_languages");
            
            function updateSource($input) {
                var tab = $form.data('languages').slice(0);
                $('span[id^=language_]', '#controls_languages').each(function() {
                    var name = $(this).text().split(' ')[0];
                    tab.splice(tab.indexOf(name), 1);
                });
                $input.autocomplete('option', 'source', tab);
            }

            $('#controls_languages span.label').live('click', function() {
                $(this).hide('fast', function() { $(this).remove(); $form.trigger('change'); });
            });

            $id_languages.autocomplete({ source: $form.data('languages'), autoFocus: true, minLength: 0 })
            .on('autocompletesearch', function() {  updateSource($(this)); })
            .on('autocompleteselect', function(e, ui) {
                var name = ui.item.value;
                var language_id = $form.data('languages').indexOf(name);
                var id = 'language_' + language_id;

                $('#' + id).show('slow');
                if (!$('#' + id).length) {
                    $('<span>').addClass('label')
                    .attr('id', id)
                    .appendTo($('#controls_languages'))
                    .text(ui.item.value)
                    .after(' ')
                    .append(' ×')
                    .append($('<input>').attr('type', 'hidden').attr('name', 'languages').val(language_id + 1));
                }
                $('#' + id).show('slow', function() { $form.trigger('change'); });
                $(this).val('');
                return false;
            })
            .on('change', function() { return false; });
        }

        function delete_emails() {
            $('a.delete_email').on('click', function() {
                $form.append($('<input>').attr('type', 'hidden').val(1).attr('name', $(this).attr('href').substring(1) + '-DELETE'));
                $($(this).attr('href')).hide('fast');
                $form.trigger('change');
                return false;
            });
        }

        function delete_addresses() {
            $('a.delete_address').on('click', function() {
                $form.append($('<input>').attr('type', 'hidden').val(1).attr('name', $(this).attr('href').substring(1) + '-DELETE'));
                $($(this).attr('href')).hide('fast');
                $form.trigger('change');
                return false;
            });
        }

        $form.on('submit', function() { return false; })
        .on('change', function(e) {
            $(e.target).next().append('<i class="icon-refresh">');
            $(this).load('{% url 'account' %} #form > *', $(this).serializeArray(), function () {
                $control_group = $('#control_id_' + e.target.name);
                if (!$control_group.hasClass('error') && !$('#control_group_emails')) {
                    $('#' + e.target.id).next().html('<span class="label label-success">saved!</span>');
                }
                autocomplete_languages();
                delete_emails();
                delete_addresses();
            });
        });
        $.getJSON('{% url 'languages' %}', function(languages) {
            $form.data('languages', languages);
            autocomplete_languages();
            delete_emails();
            delete_addresses();
        });
    });
</script>
{% endblock %}
