{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Account{% endblock %}

{% block subtopbar %}{% endblock %}

{% block content_header %}
<h1>Account
        <a href="{% url 'password_change' %}" class="btn btn-info">Change my password</a>
        {% if not user.is_superuser %}
            <a href="#" class="btn btn-danger" id="close_account">Close my account</a>
        {% endif %}
</h1>
{% endblock %}

{% block content_main %}
<form id="form" class="form-horizontal" method="post">{% csrf_token %}
    {{ form.id }}
    {% with field=form.first_name %}
        {% include 'includes/control_group.html' %}
    {% endwith %}
    {% with field=form.last_name %}
        {% include 'includes/control_group.html' %}
    {% endwith %}
    {% with field=form.languages %}
        {% include 'includes/control_group_languages.html' %}
    {% endwith %}
    {{ email_formset }}
    {{ address_formset }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save changes">
    </div>
</form>
<div class="modal hide fade" id="close_account_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Are you sure that you want to close your account?</h3>
    </div>
    <div class="modal-body">
        <p>Once your account is closed, only the platform administrator will be able to reopen it.</p>
    </div>
    <div class="modal-footer">
        <a href="{% url 'close_account' %}" class="btn btn-large btn-danger">Yes, I am</a>
        <a data-dismiss="modal" class="btn btn-large">No</a>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    div.control-group span.label:hover {
        cursor:pointer;
    }
</style>
{% endblock %}
{% block script %}
<script>
    $(function () {
        //$('#form').on('submit', function() { return false; });
        $.getJSON('{% url 'languages' %}', function(data) {
            var $id_languages = $("#id_languages");
            
            function updateSource($input) {
                var tab = data.slice(0);
                $('span[id^=language_]').each(function() {
                    var name = $(this).text().split(' ')[0];
                    tab.splice(tab.indexOf(name), 1);
                });
                $input.autocomplete('option', 'source', tab);
            }

            $('#controls_languages span.label').live('click', function() {
                $(this).hide('slow', function() { $(this).remove(); });
            });

            $id_languages.autocomplete({ source: data, autoFocus: true, minLength: 0 })
            .on('autocompletesearch', function() {  updateSource($(this)); })
            .on('autocompleteselect', function(e, ui) {
                var name = ui.item.value;
                var language_id = data.indexOf(name);
                var id = 'language_' + language_id;

                $('#' + id).addClass('label-info');
                if (!$('#' + id).length) {
                    $('<span>')
                        .addClass('label label-info')
                        .attr('id', id)
                        .appendTo($('#controls_languages'))
                        .text(ui.item.value)
                        .after(' ')
                        .append(' ×')
                        .append($('<input>').attr('type', 'hidden').attr('name', 'languages').val(language_id + 1));
                }
                $('#' + id).switchClass('label-info', '', 1000);
                $(this).val('');
                return false;
            });
        });
    });
</script>
{% endblock %}
