{% extends "base-in.html" %}
{% load url from future %}

{% block title %}User profile{% endblock %}

{% block content_header %}
<h1>User profile</h1>
{% endblock %}

{% block content_main %}
<div class="well">
Here you can edit your profile. Please note that fields with * <strong>must</strong> be filled.
</div>

<form class="form-horizontal" method="post" action="{% url 'account' %}">
{% csrf_token %}
{{ form }}

    <fieldset>
        <div class="control-group">
            <label class="control-label" for="userName" >Username</label>
            <div class="controls">
                <input type="text" id="userName" class="input-large uneditable-input" placeholder="Username" value="{{ user.username }}" name="{{ form.user.html_name }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="firstName">First Name</label>
            <div class="controls">
                <input type="text" id="firstName" class="input-large" placeholder="First name" value="{{ user.first_name }}" name="{{ form.first_name.html_name }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lastName">Last Name</label>
            <div class="controls">
                <input type="text" id="lastName" class="input-large" placeholder="Last name" value="{{ user.last_name }}"> <span class="help-inline">*</span>
            </div>
        </div>
       <div class="control-group">
            <label class="control-label">Language(s)</label>
            <div class="controls">
                {% for lang in user.language_code %}
                    <input type="text" class="input-small" placeholder="Code" value="{{ lang.code }}"> <textarea type="text" class="input-medium" placeholder="Lang" value="{{ lang.name }}"></textarea>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">E-mail @dress(es)</label>
            <div class="controls">
                <p class="help-block"><strong>Note:</strong> At least one.</p>
                {% for email in user.email_addresses %}
                    <input type="text" class="input-medium" placeholder="Description" value="{{ email.address_name }}"> <input type="text" class="input-large" placeholder="E-mail" value="{{ email.value }}">
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Physical adress(es)</label>
            <div class="controls">
                {% for postal in user.postal %}
                    <input type="text" class="input-medium" placeholder="Description" value="{{ postal.address_name }}"> <textarea type="text" class="input-large" placeholder="Address" value="{{ postal.value }}"></textarea>
                {% endfor %}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn">Cancel</button>
        </div>
    </fieldset>
</form>
{% endblock %}
