{% block content_main %}
<form class="form-horizontal" method="post">{% csrf_token %}
    <div class="control-group">
        <label class="control-label">Alert type</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="type" id="reminder" value="reminder">
                Reminder
            </label>
            <label class="radio">
                <input type="radio" name="type" id="trigger" value="trigger">
                Trigger Date
            </label>
            <label class="radio">
                <input type="radio" name="type" id="action" value="action">
                Action
            </label>
        </div>
    </div>
    {% include 'includes/form.html' %}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Create">
        <a href="{% url 'dashboard' %}" class="btn btn-danger">Return</a>
    </div>
    </fieldset>
</form>
{% endblock %}

