{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}{{ conference.title}} : Alert Creation{% endblock %}

 {% block content_header %}
<h1>Create Alert for conference: {{ conference.title}}</h1>
{% endblock %}

{% block subtopbar %}
<div class="span12 db-top">
    <div class="db-top-inner-min">
        <i class="icon-calendar icon-white"></i> Start date {{ conference.start_date|date:'SHORT_DATE_FORMAT' }} | 
        <i class="icon-info-sign icon-white"></i> Submissions end date {{ conference.submissions_end_date|date:'SHORT_DATE_FORMAT' }} | 
        <i class="icon-exclamation-sign icon-white"></i> Reviews end date {{ conference.reviews_end_date|date:'SHORT_DATE_FORMAT' }}
    </div>
</div>
{% endblock %}

{% block content_main %}
<form class="form-horizontal" method="post">{% csrf_token %}
    <div class="control-group">
        <label class="control-label">Alert type</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="type" id="reminder" value="reminder">
                Reminder
            </label>
            <label class="radio">
                <input type="radio" name="type" id="trigger" value="trigger">
                Trigger Date
            </label>
            <label class="radio">
                <input type="radio" name="type" id="action" value="action">
                Action
            </label>
        </div>
    </div>
    {% include 'includes/form.html' %}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Create">
        <a href="{% url 'dashboard' %}" class="btn btn-danger">Return</a>
    </div>
    </fieldset>
</form>
{% endblock %}

{% block script %}
<script>
    $(function() {
        $('#id_trigger_date, #id_action, #id_event, #id_reminder').val('').closest('div.control-group').hide();
        $('#reminder').on('click', function() {
            $('#id_trigger_date, #id_action').val('').closest('div.control-group').hide();
            $('#id_reminder, #id_event').closest('div.control-group').show('slow');
        });
        $('#trigger').on('click', function() {
            $('#id_reminder, #id_action, #id_event').val('').closest('div.control-group').hide();
            $('#id_trigger_date').closest('div.control-group').show('slow');
        });
        $('#action').on('click', function() {
            $('#id_trigger_date, #id_reminder, #id_event').val('').closest('div.control-group').hide();
            $('#id_action').closest('div.control-group').show('slow');
        });
    });
</script>
{% endblock %}
