/*
CSS Style for Confucius Project
*/

body {
    padding-top: 40px;
}

.content-header {
  padding-left: 0;
}

.controls > input {
    margin-top: 3px;
}

.controls-inputs {
    display: block;
    margin-top: 3px;
}

[id^="email-"] {
    opacity: 1;
}

.ui-datepicker {
    border: 1px solid #aaa;
    background: #fff;
}

/* Navbar */

.navbar-text {
    margin: 0 5px;
}

/* Sidebar */

.sidebar-nav {
    margin: 0;
    padding: 15px 12px;
    background-color: #fff;

}

/* Content */

.content-span {
    margin-left: 0;
}

.content {

}

.content-header {
    padding: 5px 0;
}

.content-header h1 {

}

.content-main {
}

.content-footer {
    padding: 5px 15px;
    border-top: 1px solid lightgrey;
}

/* Dashboard */

.db-top {
    display:block;
    margin-bottom: 5px;
    color: #f2f2f2;
    background-color: #222;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
}

.db-top-inner {
    margin: 10px 15px 15px 15px;
}

.db-top-inner-min {
    margin: 2px 15px 2px 15px;
}


/* TextPander */

.contentTextPander {
    color:#0088CC;
}

.headline {
    border: 1px solid #DDDDDD;
    cursor: pointer;
    font-family: georgia;
    margin-top: -14px;
    padding: 10px;
}


.headline:before {
    color: #ffffff;
}

.alert {
    position:absolute;
    right:20px;
    top:70px;
}
