{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Assignments {% endblock %}
{% block brand %}Conference "{{ conference.title }}"  
{% endblock %}
{% block content_header %}
<h1>Assignments</h1><br/>
{% endblock %}
{% block subtopbar %}
<div class="span12 db-top">
    <div class="db-top-inner-min">
        <i class="icon-calendar icon-white"></i> Start date {{ conference.start_date|date:'SHORT_DATE_FORMAT' }} | 
        <i class="icon-info-sign icon-white"></i> Submissions end date {{ conference.submissions_end_date|date:'SHORT_DATE_FORMAT' }} | 
        <i class="icon-exclamation-sign icon-white"></i> Reviews end date {{ conference.reviews_end_date|date:'SHORT_DATE_FORMAT' }}
    </div>
</div>
{% endblock %}
{% block content_main %}
<p><strong>Automatic assignment : </strong><a id="auto_assignment" href="#" class="btn btn-primary"> Let's do it </a>
<table class="table table-bordered ">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Submitter</th>
            <th>Domains</th>
            <th>Reviewers</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        {% for paper in papers %}
        <tr class="infos" id="{{paper.pk}}">
            <td><strong>{{ paper.title }}</strong></td>
            <td> {{paper.emails_authors}} </td>
            <td> {{paper.submitter}} </td>
            <td>
                {{domains.all|join:', '}}
            </td>
            <td>{{paper.assignments.all.count}}</td>
            <td>{{paper.language}}</td>
            
            <tr class="actions">
                
                    <td colspan="6">
                        <table class="table table-bordered reviewers" id="table_{{paper.pk}}">
                            <tr>
                                <th></th>
                                <th>Reviewer</th>
                                <th>Domains</th>
                                <th>Assignation</th>
                            </tr>
                            {% for assignment in paper.assignments.all %}
                                <tr>
                                    <td><a href="#" class="btn btn-danger assignment" id="remove_{{assignment.pk}}">Remove</th></td>
                                    <td>{{assignment.reviewer}}</td>
                                    <td>{{assignment.get_domains.all|join:', '}}</td>
                                    <td>{{assignment.get_papers.count}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        
                        <div class="toto">
                            <form>
                                <select multiple="multiple" class="selectAdd input-xlarge multiSelect" id="reviewers_list_{{paper.pk}}">
                                   
                                </select>
                                <label class="control-label" for="tags">Search reviewer :</label>
				              	<div class="controls">
						            <input type="text" id="textbox" class="span3" placeholder="Reviewer" value=""/>
                                </div>
                            </form>
                        </div>
                    </td>
               
            </tr>
        </tr>
        {% empty %}
            <h3>There is no papers for this conference</h3><br/>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block extra_style %}
<style>
    tr.infos:hover {
        cursor:pointer;
    }
</style>
{% endblock %}
{% block script %}
<script src="{{ STATIC_URL }}jquery.autocomplete.js"></script>
<script src="{{ STATIC_URL }}jquery.selectoptionsort.js"></script>
<script src="{{ STATIC_URL }}jquery.ajaxsend.js"></script>
<script>

/*  
#
#
#
#
#  ********** Managing auto-completion ***********
#
#
#
#
*/    
    $(function() {
        $('tr.infos').click(function(e) {
            var paperid = $(this).attr("id")
            $(this).next().toggle('fast');
            $.post("{% url 'updateReviewerList' conference.pk %}", { 
                paper_id: paperid,
            },
                function(data) {
                    $("#reviewers_list_"+paperid).find('option').remove();
                    $.each(data,function(index, value) {
                        $("#reviewers_list_"+paperid).append("<option id=\""+value[0]+"\">"+value[1]+"</option>")
                    });
                }
            );
            return false;
        }).next().hide();
    });
    
    $(function() {
        $('a.assignment').live("click",function(e) {
            var my_button = $(this)
            var start = my_button.attr("id");
            var toRemove = 'remove_';
            var end = start.replace(toRemove,'');
            var paperid = $('tr.infos').attr("id");
            $.post("/conference/1/review/deleteAssignmentRow/"+end+"/",
                function(data) {
                    my_button.parent().parent().remove();
                    $.post("{% url 'updateReviewerList' conference.pk %}", { 
                        paper_id: paperid,
                    },
                        function(data) {
                            $("#reviewers_list_"+paperid).find('option').remove();
                            $.each(data,function(index, value) {
                                $("#reviewers_list_"+paperid).append("<option id=\""+value[0]+"\">"+value[1]+"</option>")
                            });
                        }
                    );                    
                }
            );
        });
    });
    
    $(document).ready(function(){

	var options = [];


//sort
	$(function() {
		$("select.selectAdd").selectOptionSort();
	}); 

	/*
		When a value is clicked in the select list, we want to remove it from the list, and create a checkbox with the selected value.
	*/
	$("select.selectAdd").click(function(){
	    var val = $(".multiSelect").attr("id");
        var toRemove = 'reviewers_list_';
        var end = val.replace(toRemove,'');
	    var table = $(document).find("table#table_"+end);
		if (val!=null){

            $.post("{% url 'updateAssignmentsTables' conference.pk %}", { 
                paper_id : end,
                reviewer_id : $(".multiSelect option:selected").attr("id")
            },
                function(data) {
                    $.each(data,function(index, value) {
                        table.append("<tr><td><a href=\"#\" class=\"btn btn-danger assignment\" id=\"remove_"+value[0]+"\">Remove</a></td><td>"+value[2]+"</td><td>"+value[3]+"</td><td>"+value[4]+"</td></tr>");
                    });
                   
                }
            );
			
			// remove the value in the list	 		
			$(".multiSelect option:selected").remove();			
			// remove from options array (the array which contains the value of the list) the value			
			options.remove(val.toString());
			// remove from autocompletion cache the selected value. We don't want to see it anymore if it not appear in the list
			var valBis = val.toString();
			// Get the first letter of the word in order to put this in a hashmap (see jquery.autocomplte.js)
			q = valBis.substring(0, 1).toLowerCase();			
		}
	});

	

	$('input[type=checkbox]').live('click', function () {
		var val = $(this).attr("value");
		$("select.selectAdd").append("<option>"+ val +"</option>");
		options.push({value: val, text : val});
		$("select.selectAdd").selectOptionSort();
		$(this).parent().remove();
	});

	jQuery.fn.filterByText = function() {
	    return this.each(function() {
		var select = this;
		var textbox = $(this).parent().parent().find('input[id=textbox]')

        for (var i=0, j=options.length; i<j; i++){
            options.pop();
        }

		$(select).find('option').each(function() {
		    options.push({value: $(this).val(), text: $(this).text()});
		});
		$(select).data('options', options);

		$(textbox).bind('change keyup', function() {
		    var options = $(select).empty().data('options');
		    var search = $.trim($(this).val());
		    var regex = new RegExp("^" + search,"gi");

		    $.each(options, function(i) {
		        var option = options[i];
		        if(option.text.match(regex) !== null) {
		            $(select).append(
		                $('<option>').text(option.text).val(option.value)
		            );
		        }
		    });
		});

	    });
	};	

	$(function() {
		$('.multiSelect').filterByText(true);
		//$('#multiSelect2').filterByText("input[id=textbox2]", true);
	});  

	$('input[id=textbox]').keypress(function(event, val){
		var keycode = (event.keyCode ? event.keyCode : event.which);
		var val = this.value;
		if(keycode == '13'){
			var valBis;
			var text;
			for (var i=0, j=options.length; i<j; i++){
				text = options[i].text.toLowerCase();
				valBis = val.toLowerCase();
				if (text==valBis){
					//$("div.skills").append("<label class='checkbox inline'><input type='checkbox' value ='" + options[i].text + "' >"+ options[i].text +"</label>");
			 		alert("add (keypress)")
			 		$(".multiSelect option:selected").remove();			
					options.remove(options[i].text);
					$(this).val("");
					return false;
				}
			}
			return false;
		}
	});
	
	$('input[type=text]').live('test', function(event , val){
		//$("div.skills").append("<label class='checkbox inline'><input type='checkbox' value ='" + val + "' >"+ val +"</label>");
		alert("add live")
		$('.multiSelect').select(val);
		options.remove(val);	
		$(this).val('');
		var str;
		for (var i=0, j=options.length; i<j; i++){
			str += "<option>"+ options[i].value +"</option>";
		}
		$('.multiSelect').html(str);
	})
	
	$('#auto_assignment').click(function(){
	    var $content = $('<div><center><img src=\"/static/ajax-loader.gif\"> </img></center></div>').dialog({
		});
		
        $.post("{% url 'auto_assignment' conference.pk %}", {},
            function(data) {
                window.location.reload();
                content.dialog('close');
            }
        );
        
        return false;
	});


});


</script>
{% endblock %}
