{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Assignments {% endblock %}
{% block brand %}Conference "{{ conference.title }}"  
{% endblock %}
{% block content_header %}
<h1>Assignments</h1><br/>
{% endblock %}
{% block subtopbar %}
<div class="span12 db-top">
    <div class="db-top-inner-min">
        <i class="icon-calendar icon-white"></i> Start date {{ conference.start_date|date:'SHORT_DATE_FORMAT' }} | 
        <i class="icon-info-sign icon-white"></i> Submissions end date {{ conference.submissions_end_date|date:'SHORT_DATE_FORMAT' }} | 
        <i class="icon-exclamation-sign icon-white"></i> Reviews end date {{ conference.reviews_end_date|date:'SHORT_DATE_FORMAT' }}
    </div>
</div>
{% endblock %}
{% block content_main %}
<div class="modal hide fade" id="toggle_modal_loading">
    <div class="modal-header">
        <h3>Automatic review assignment is currently in progress</h3>
    </div>
    <div class="modal-body">
        <p><center><strong>please wait...</strong></center></p>
        <center><img src="/static/ajax-loader.gif" alt="a gif load animation"/></center>
    </div>
</div>

<p><strong>Automatic assignment : </strong><a id="auto_assignment" href="#" class="btn btn-primary" > Let's do it </a>
<table class="table table-bordered ">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Submitter</th>
            <th>Domains</th>
            <th>Reviewers</th>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for paper in papers %}
        <tr class="infos" id="{{paper.pk}}">
            <td><strong>{{ paper.title }}</strong></td>
            <td> {{paper.co_authors}} </td>
            <td> {{paper.submitter}} </td>
            <td>
                {{paper.domains.all|join:', '}}
            </td>
            <td>{{paper.assignments.all.count}}</td>
            <td>{{paper.language}}</td>
            <td><i class="pull-right icon icon-chevron-down"></i></td>
            
            <tr class="actions">
                
                    <td colspan="7">
                        <table class="table table-bordered reviewers" id="table_{{paper.pk}}">
                            <tr>
                                <th></th>
                                <th>Reviewer</th>
                                <th>Domains</th>
                                <th>Assignation</th>
                            </tr>
                            {% for assignment in paper.assignments.all %}
                                <tr>
                                    <td><a href="#" class="btn btn-danger assignment" id="remove_{{assignment.pk}}--table_{{paper.pk}}">Remove</th></td>
                                    <td>{{assignment.reviewer}}</td>
                                    <td>{{assignment.get_domains.all|join:', '}}</td>
                                    <td>{{assignment.get_papers.count}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        
                        <div class="toto">
                            <form>
                                <label class="control-label">Click on the reviewers below to assign them on the current Paper</label>
                                <select multiple="multiple" class="selectAdd input-xlarge multiSelect" id="reviewers_list_{{paper.pk}}">
                                   
                                </select>
                            </form>
                        </div>
                    </td>
               
            </tr>
        </tr>
        {% empty %}
            <h3>There is no papers for this conference</h3><br/>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block extra_style %}
<style>
    tr.infos:hover {
        cursor:pointer;
    }
</style>
{% endblock %}
{% block script %}
<script src="{{ STATIC_URL }}jquery.selectoptionsort.js"></script>
<script src="{{ STATIC_URL }}jquery.ajaxsend.js"></script>
<script>
$(document).ready(function(){

    // Displays all the reviewers not yet assigned to this paper for this conference in the select input
    $(function() {
        $('tr.infos').click(function(e) {
            var paperid = $(this).attr("id")
            $(this).next().slideToggle('fast');
            $(this).find('.icon').toggleClass('icon-chevron-up')
            $(this).find('.icon').toggleClass('icon-chevron-down');
            $.post("{% url 'updateReviewerList' conference.pk %}", { 
                paper_id: paperid,
            },
                function(data) {
                    $("#reviewers_list_"+paperid).find('option').remove();
                    $.each(data,function(index, value) {
                        $("#reviewers_list_"+paperid).append("<option id=\""+value[0]+"\">"+value[1]+"</option>")
                    });
                }
            );
            return false;
        }).next().hide();
    });
    
    
    // When a click on the "Remove" button is captured, we remove the reviewer from the table and add an option in the select input
    $(function() {
        $('a.assignment').live("click",function(e) {
            var my_button = $(this)
            var assign_id = $(this).attr("id");
            var substri = assign_id.split('--table_');
            var paperid = parseInt(substri[1]);
            var start = substri[0];
            var toRemove = 'remove_';
            var end = start.replace(toRemove,'');

            
            $.post("{% url 'deleteAssignmentRow' conference.pk %}", {
                    'end': end,
                },
                function(data) {
                    my_button.parent().parent().remove();
                    $.post("{% url 'updateReviewerList' conference.pk %}", { 
                        paper_id: paperid,
                    },
                        function(data) {
                            $("#reviewers_list_"+paperid).find('option').remove();
                            $.each(data,function(index, value) {
                                $("#reviewers_list_"+paperid).append("<option id=\""+value[0]+"\">"+value[1]+"</option>")
                            });
                        }
                    );                    
                }
            );
        });
    });
    


	$(function() {
		$("select.selectAdd").selectOptionSort();
	}); 

	// When a click on a select option is captured, remove the option form the list, and add the reviewer to the table
	$("select.selectAdd").click(function(){
	    var val = $(this).attr("id");
	    var clicked = $(".multiSelect option:selected");
        var toRemove = 'reviewers_list_';
        var end = val.replace(toRemove,'');
	    var table = $(document).find("table#table_"+end);
		if (val!=null){

            $.post("{% url 'updateAssignmentsTables' conference.pk %}", { 
                paper_id : end,
                reviewer_id : $(".multiSelect option:selected").attr("id")
            },
                function(data) {
                    $.each(data,function(index, value) {
                        table.append("<tr><td><a href=\"#\" class=\"btn btn-danger assignment\" id=\"remove_"+value[0]+"--table_"+end+"\">Remove</a></td><td>"+value[2]+"</td><td>"+value[3]+"</td><td>"+value[4]+"</td></tr>");
                    });
                    clicked.remove();
                }
            );
			
		}
	});
	

    // When a click is captured on the auto-assign button, lauch the modal frame and execute the algorithm
	$('#auto_assignment').click(function(){
        $('#toggle_modal_loading').modal({
            keyboard: false
        }).show();
        $.post("{% url 'auto_assignment' conference.pk %}", {},
            function(data) {
                window.location.reload();
            }
        );
        
        return false;
	});


});


</script>
{% endblock %}
