{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Paper selection{% endblock %}

{% block content_header %}
<h1>Paper selection</h1>
{% endblock %}


{% block content_main %}
{% if papers_not_assigned.count > 0 %}
    <p>
    <div class="alert alert-error ">
        <h4 class="alert-heading">Warning!</h4>
        <p>There are still no assigned papers. Please have a look to it before performing your selection.</p>
    </div>
    </p>
{% endif %}

<p>
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
      Get more information about "Standard Deviation"...
    </a>
  </div>
  <div id="collapseOne" class="accordion-body collapse">
    <div class="accordion-inner">
      "This represents how much variation or dispertion exists from the average. <br/><br/>A low standard deviation indicates that the data points tend to be very close to the mean, whereas high standard deviation indicates that the data points are spread out over a large range of values. <br/><br/>In order to show you that value in a clean way, we will use flag colors. <br/> <br/>Green means close data points, whereas red means speard out points"
    </div>
  </div>
</div>
</p>

<p>

<p>
<div class="row">
    <div class="span1"><h3>Papers</h3> </div>
    <div class="span1"><span class="btn btn-info hide" id="select-btn">Select</span></div>
    <div class="span2"><span class="btn btn-danger hide" id="deselect-btn">De-select</span></div>
</div>
</p>
<table class="table table-striped">
    <tr>
        <th><input type="checkbox" name="selectAll" id="selectAll" class="selectAll"></th>
        <th>Title</th>
        <th>Number of reviews</th>
        <th>Overall Evaluation</th>
        <th>Standard deviation</th>
    </tr>
<form method="post" id="frmPaper" name="frmPaper" >
{% for paper in papers_assigned.all %}
    <tr>
        <td> <input type="checkbox" class="paper" name="{{paper.pk}}" id="{{paper.pk}}"></td>
        <td> {{ paper.title }} </td>
        <td> {{ paper.assignments.count }} </td>
        <td> 
            {% if paper.get_mark == -1 %} No mark yet 
            {% else %} {{ paper.get_mark }} %
            {% endif %}
        </td>
        <td>
            {% if not paper.is_ambigous %}
                <span class="label label-success"><i class="icon-ok-sign icon-white"></i></span>
            {% else %}
                <span class="label label-important"><i class="icon-remove-sign icon-white"></i></span>
            {% endif %}
        </td>
{% endfor %}
</form>
</table>

</p>
<br/>

{% if papers_not_assigned.count > 0 %}
<p>
    <h3>Papers not assigned</h3>
    <table class="table table-striped">
        <tr>
            <th>Paper title</th>
            <th>Last update date</th>
        </tr>
        {% for paper in papers_not_assigned %}
            <tr>
                <td><b>{{paper.title}}</b></td>
                <td>{{paper.last_update_date|date:"m/d/y"}}</td>
            </tr>
        {% endfor %}
    </table>
</p>
{% endif %}
 
{% endblock %}

{% block script %}
<script>


$(document).ready(
    
    // Hide items
    hideItems(),
    
    
    selectAllEvent(),
    
    checkPaper()
    
        
);

function hideItems() {
    $(".collapse").collapse('hide');
}


function selectAllEvent(){
    $('#selectAll').click(function() {
        var checked_status = this.checked;
        toggleSelectionButtons();
        toggleCheckboxes(checked_status);
        //more things
    });
}

function toggleSelectionButtons() {
    $("#select-btn").toggleClass("hide");
    $("#deselect-btn").toggleClass("hide");
}

function checkPaper() {
    $('.paper').live("click",function() {
        if(jQuery('input[class="paper"]:checked').length == 0) { 
            $('#selectAll').attr('checked', false);
            toggleSelectionButtons();
        }
        
        if(jQuery('input[class="paper"]:checked').length > 0 && !$('input[id="selectAll"]').is(':checked') ) { 
            $('#selectAll').attr('checked', true);
            toggleSelectionButtons();
        }
        
    });
}

function toggleCheckboxes(is_selectAll_checked) {
    $('.paper').each(function(){
        this.checked = is_selectAll_checked;
    });
} 

</script>
{% endblock %}
