{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Paper selection{% endblock %}

{% block content_header %}
<h1>Paper selection</h1>
{% endblock %}

{% block style %}
<style>
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color:transparent;
}
tr.paper-select, tr.paper-select:hover td{
    background-color:#eefbde;
}

tr.paper-deselect, tr.paper-deselect:hover td{
    background-color:#fbeeee;
}
</style>
{% endblock %}


{% block content_main %}
<div class="modal hide fade" id="toggle_modal_warning">
    <div class="modal-header">
        <h3>Warning ! There are still no assigned papers.</h3>
    </div>
    <div class="modal-body">
        <p>If you really want to ignore no assigned papers, push the "Finalize" button, "Close" otherwise</p>
    </div>
    <div class="modal-footer">
        <a href="{% url 'finalize_selection' conference.pk %}" class="btn btn-primary">Finalize</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<div class="modal hide fade" id="toggle_modal_confirmation">
    <div class="modal-header">
        <h3>Confirmation</h3>
    </div>
    <div class="modal-body">
        <p><strong><center>Do you really want to Finalize the Papers Selection for your Conference ?</center></strong></p>
        <p>This means you won't be able to edit your selection later on</p>
    </div>
    <div class="modal-footer">
        <a href="{% url 'finalize_selection' conference.pk %}" class="btn btn-primary">Ok, I want to Finalise my Selection</a>
        <a href="#" class="btn" data-dismiss="modal">No, Return</a>
    </div>
</div>


{% if papers_not_assigned.count > 0 %}
    <p>
    <div class="alert alert-error ">
        <h4 class="alert-heading">Warning!</h4>
        <p>There are still no assigned papers. Please have a look to it before performing your selection.</p>
    </div>
    </p>
{% endif %}

<p>
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
      Get more information about "Standard Deviation"...
    </a>
  </div>
  <div id="collapseOne" class="accordion-body collapse">
    <div class="accordion-inner">
      "This represents how much variation or dispertion exists from the average. <br/><br/>A low standard deviation indicates that the data points tend to be very close to the mean, whereas high standard deviation indicates that the data points are spread out over a large range of values. <br/><br/>In order to show you that value in a clean way, we will use flag colors. <br/> <br/>Green means close data points, whereas red means speard out points"
    </div>
  </div>
</div>
</p>

<p>

<p>
<div class="row">
    <div class="span1"><h3>Papers</h3> </div>
    <div class="span1"><span class="btn v-hidden" id="select-btn">Select</span></div>
    <div class="span2"><span class="btn v-hidden" id="deselect-btn">Reject</span></div>
    <div class="span4"><span class="btn" id="finalize">Finalize</span></div>
    <div class="span2">
        <a href="{% url 'dashboard' %}" class="btn btn-info">
                <i class="icon-share-alt icon-white"></i> To dashboard
        </a>
    </div>
</div>
</p>
<table class="table tablesorter table-bordered" id="table">
    <thead>
    <tr>
        <th><input type="checkbox" name="selectAll" id="selectAll" class="selectAll"></th>
        <th>Title </th>
        <th>Reviews done</th>
        <th>Overall Evaluation </th>
        <th>Standard deviation </th>
    </tr>
    </thead> 
    <tbody>
<form method="post" id="frmPaper" name="frmPaper" >{% csrf_token %}
{% for paper in papers_assigned.all %}
    {% if paper.selection %} 
        {% if paper.selection.is_selected %}
            <tr class="paper-select row-actions">
        {% else %}
            <tr class="paper-deselect row-actions">
        {% endif %}
    {% else %}
        <tr class="row-actions">
    {% endif %}
        <td> <input type="checkbox" class="paper" name="paper_{{paper.pk}}" id="{{paper.pk}}"></td>
        <td> {{ paper.title }} 
            <span class="data-actions v-hidden"> 
                <a href="#" class="btn btn-mini action_btn" id="select_{{paper.pk}}">Select</a>
                <a href="#" class="btn btn-mini action_btn" id="deselect_{{paper.pk}}">Reject</a>
            </span>
        </td>
        <td>{% with percent=paper.get_reviewed_percent %} 
                {{ percent }}%
                {% if  percent > 0 %}
                    <span class="data-actions v-hidden"> 
                        <a href="{% url 'read_reviews' conference.pk paper.pk %}" class="btn btn-mini read_btn" id="read_reviews_{{paper.pk}}">Read reviews</a>
                    </span>
                {% endif %}
            {% endwith %}
        </td>
        <td>
            {% with mark=paper.get_mark %}
            {% if mark == -1 %}
                Not yet reviewed.
            {% else %}
                {% if mark <= 30 %}
                <div class="progress progress-danger">
                {% endif %}
                {% if mark > 30 and mark < 80 %}
                <div class="progress progress-info">
                {% endif %}
                {% if mark >= 80 %}
                <div class="progress progress-success">
                {% endif %}
                    <div class="bar" style="width:{{ mark }}%">{{ mark }}</div>
                </div>
            {% endif %}
            {% endwith %}
        </td>
        <td>
            {% if not paper.is_ambigous %}
                <span class="label label-success"><i class="icon-ok-sign icon-white"></i></span>
            {% else %}
                <span class="label label-important"><i class="icon-remove-sign icon-white"></i></span>
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</form>
</table>
</p>
<br/>

{% if papers_not_assigned.count > 0 %}
<p>
    <h3>Papers not assigned</h3>
    <table class="table table-striped">
        <tr>
            <th>Paper title</th>
            <th>Last update date</th>
        </tr>
        {% for paper in papers_not_assigned %}
            <tr>
                <td><b>{{paper.title}}</b></td>
                <td>{{paper.last_update_date|date:"m/d/y"}}</td>
            </tr>
        {% endfor %}
    </table>
</p>

{% endif %}
 
{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}jquery.ajaxsend.js"></script>
<script src="{{ STATIC_URL }}jquery.tablesorter.js"></script>
<script>


$(document).ready(
    
    // Hide items
    goodStart(),
    
    
    selectAllEvent(),
    
    checkPaper(),
    
    selectAction(),
    
    deselectAction(),
    
    finalizeAction(),
    
    quickActions()
        
);

function goodStart() {
    $(".collapse").collapse('hide');
    $.fn.dataTableExt.oSort['num-html-asc'] = function(a, b) {
            a = parseInt(a.replace( /<.*?>/g, "" ));
            b = parseInt(b.replace( /<.*?>/g, "" ));
            return ((a < b) ?  -1 : ((a > b) ? 1 : 0));
    };
    $.fn.dataTableExt.oSort['num-html-desc'] = function(a,b) {
        a = parseInt(a.replace( /<.*?>/g, "" ));
        b = parseInt(b.replace( /<.*?>/g, "" ));
        return ((a < b) ?  1 : ((a > b) ? -1 : 0));
    };
    $('#table').dataTable({
        sDom: "<'row'<'span5'l><'span5'f>r>t<'row'<'span5'i><'span5'p>>",
        bStateSave: true,
        sPaginationType: 'bootstrap',
        oLanguage: {
            sLengthMenu: '_MENU_ records per page'
        },
        aoColumnDefs: [
            { bSortable: false, aTargets: [0] },
            { sType: 'num-html', aTargets: [3] }
        ]
    });
}


function selectAllEvent(){
    $('#selectAll').click(function() {
        var checked_status = this.checked;
        toggleSelectionButtons();
        toggleCheckboxes(checked_status);
        //more things
    });
}

function toggleSelectionButtons() {
    $("#select-btn, #deselect-btn").toggleClass("v-hidden");
}

function checkPaper() {
    $('.paper').live('change', function() {
        $('#selectAll').prop('checked', $('.paper:checked').length == $('.paper').length ? true : false);
        $('#select-btn, #deselect-btn').toggleClass('v-hidden', $('.paper:checked').length > 0 ? false : true);
        return false;
    });
}

function toggleCheckboxes(is_selectAll_checked) {
    $('.paper').each(function(){
        this.checked = is_selectAll_checked;
    });
}

function selectAction() {
    $('#select-btn').live("click",function() {
        if(jQuery('input[class="paper"]:checked').length == 0) return;
        var papers = new Array();
         $('.paper').each(function(){
            if ($(this).is(':checked')) {
                var i = parseInt($(this).attr("id"));
                papers.push(i);
                $(this).parent().parent().removeClass("paper-deselect");
                $(this).parent().parent().addClass("paper-select");
                this.checked=false;
            }
        });
        $('#selectAll').attr('checked', false);
        toggleSelectionButtons();
        var myJSONText = JSON.stringify(papers);
        $.post("{% url 'updateSelectedStatus' conference.pk %}", {
            action : "select", 
            papers_id: myJSONText,
        }
        );
        return false;
    });
}

function deselectAction() {
    $('#deselect-btn').live("click",function() {
        if(jQuery('input[class="paper"]:checked').length == 0) return;
        var papers = new Array();
         $('.paper').each(function(){
            if ($(this).is(':checked')) {
                var i = parseInt($(this).attr("id"));
                papers.push(i);
                $(this).parent().parent().removeClass("paper-select");
                $(this).parent().parent().addClass("paper-deselect"); 
                this.checked=false;
            }
        });
        $('#selectAll').attr('checked', false);
        itoggleSelectionButtons();
        var myJSONText = JSON.stringify(papers);
        $.post("{% url 'updateSelectedStatus' conference.pk %}", {
            action : "deselect", 
            papers_id: myJSONText,
        }
        );
        return false;
    });
}

function finalizeAction(){
    $('#finalize').live("click",function() {
        {% if papers_not_assigned.count > 0 %}
            $('#toggle_modal_warning').modal({
                keyboard: false
            }).show();
        {% else %}
            $('#toggle_modal_confirmation').modal({
                keyboard: false
            }).show();        
        {% endif %}
    });
}

function quickActions() {
    $('.action_btn').live("click",function() {
        
        var start = $(this).attr("id");
        var substri = start.split('_');
        var paper_id = substri[1];
        var action = substri[0];
        var papers = new Array();
        papers.push(parseInt(paper_id));
        var myJSONText = JSON.stringify(papers);
        
        if(action == "deselect") {
            $(this).parent().parent().parent().removeClass("paper-select");
            $(this).parent().parent().parent().addClass("paper-deselect");
        }
        else {
            $(this).parent().parent().parent().removeClass("paper-deselect");
            $(this).parent().parent().parent().addClass("paper-select");
        }
        $.post("{% url 'updateSelectedStatus' conference.pk %}", {
            action : action, 
            papers_id: myJSONText,
        }
        );
        return false;
    });
}


</script>
{% endblock %}
