{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}{% if is_reject %} Reject assignment {% else %} Notify chair {% endif %}{% endblock %}

{% block content_header %}
<h1>{% if is_reject %} Reject assignment {% else %} Notify chair {% endif %}</h1>
{% endblock %}

{% block content_main %}

<form id="form" class="form-horizontal" method="post">{% csrf_token %}
    {{ form }}
    <div class="form-actions">
        <input type="submit" class="btn" value="{% if is_reject %} Reject assignment {% else %} Notify chair {% endif %}"/>
        <a href="{% url 'dashboard' %}" class="btn btn-info">
            <i class="icon-share-alt icon-white"></i> To dashboard
        </a>
    </div>
</form>
{% endblock %}
