{% extends "base-in.html" %}
{% load url from future %}

{% block title %}Read reviews{% endblock %}

{% block content_header %}
<h1>Reviews for: {{paper.title}}</h1>
{% endblock %}

{% block content_main %}
{% if paper.selection %}
    <div class="alert alert-warning">You have already made a decision for this paper.</div>
{% endif %}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Domains</th>
            <th>Language</th>
            <th>Reviews done</th>
            <th>File</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{paper.title}}</td>
            <td>{{paper.domains.all|join:', '}}</td>
            <td>{{paper.language}}</td> 
            {% with percent=paper.get_reviewed_percent reviews_info=paper.get_reviews_info %} 
                <td class="tooltip-show" data-original-title="
                    Completed reviews: {{ reviews_info.0 }}<br/>
                    Unfinished reviews: {{ reviews_info.1 }}
                    {% if reviews_info.2 > 0 %}
                        <br/>Rejected reviews: {{ reviews_info.2 }}
                    {% endif %}
                ">
                    
                    {{ percent }}% <i class="icon-info-sign"></i>
                </td>
            {% endwith %}
            <td><a href="{{paper.file.url}}" class="btn"><i class="icon-download-alt"></i> Download</a></td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Paper description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{paper.description}}</td>
        </tr>
    </tbody>
</table>
<br/>

<h2>Reviews</h2>
<table class="table table-bordered">
<tbody>
    <tr>
        <th>Reviewer</th>
        <th>Commentary</th>
        <th>Commentary president</th>
        <th>Overall evaluation</th>
        <th>Reviewer confidence</th>
    </tr>
    {% for review in reviews %}
    <tr class="row-actions">
        <td>
            {{review.get_assignment.reviewer}}
            <span class="data-actions v-hidden"> 
                <a href="{% url 'history_reviews' conference.pk review.pk %}" class="btn btn-mini action_btn">
                    Review history</a>
            </span>
        </td>
        <td>{{review.detailed_commentary}}</td>
        <td>{{review.commentary_for_president}}</td>
        <td>{{review.overall_evaluation}} / {{conference.maximum_score}}</td>
        <td>{{review.reviewer_confidence}} / 5</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<form id="form" class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="form-actions">
        <button type="submit" name="select_paper" class="btn" value="Select this paper">
            <i class="icon-ok"></i> Select paper</button>
        <button type="submit" name="dont_select_paper" class="btn" value="Reject">
            <i class="icon-remove"></i> Reject paper</button>
        <a href="{% url 'paper_selection_list' conference.pk %}" class="btn btn-info"> 
            <i class="icon-share-alt icon-white"></i> To paper selection</a>
    </div>
</form>
{% endblock %}

