{% extends "base-in.html" %}
{% load url from future %}

{% block title %}Review{% endblock %}
{% load extra %}

{% block content_header %}
<div class="row">
    <div class="span3">
        <h1>{% if instance %}Edit review{% else %}Submit review{% endif %}</h1>
    </div>
</div>
{% endblock %}

{% block content_main %}

<div class="alert alert-info">
    {% if not assignment.is_done %}
        <p>If you encounter an issue with this paper or you can't review this document, please click on the dedicated button:</p>
    {% else %}
        <p>If you encounter an issue with this paper, please click on the following button:</p>
    {% endif %}
    
    <a href="{% url 'problem' conference.pk assignment.pk %}" class="btn">
        <i class="icon-exclamation-sign"></i> Notify problem</a>
    
    {% if not assignment.is_done %}
        <a href="{% url 'reject_assignment' conference.pk assignment.pk %}" class="btn">
            <i class="icon-remove-sign"></i> Reject assignment</a>
    {% endif %}
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Domains</th>
            <th>Language</th>
            <th>File</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{assignment.paper.title}}</td>
            <td>{{assignment.paper.domains.all|join:', '}}</td>
            <td>{{assignment.paper.language}}</td>
            <td><a href="{{assignment.paper.file.url}}" class="btn"><i class="icon-download-alt"></i> Download</a></td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Paper description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{assignment.paper.description}}</td>
        </tr>
    </tbody>
</table>

<form id="form" class="form-horizontal" method="post">
    {% csrf_token %}

    {% include 'includes/form.html' %}

    <div class="control-group">
        <label class="control-label">Overall evaluation:</label>
        <div class="controls">
            Rating: <span id="overall_evaluation-label"></span>
            <div id="overall_evaluations_stars">
                <select name="overall_evaluations_select" id="overall_evaluations_rate">
                    {% for i in conference.maximum_score|get_range %}
                        <option value="{{ i }}">{{ i }}/{{ conference.maximum_score }}</option>
                    {% endfor %}
                        <option value="{{conference.maximum_score}}">{{conference.maximum_score}}/{{conference.maximum_score}}</option>
                </select>
                <input type="hidden" name="overall_evaluations" id="overall_evaluations" value="{{initial_overall_evaluation}}"/>
            </div>
        </div>
    </div>
    <div class="form-actions">
        {% if conference.are_reviews_over or conference.are_reviews_over %}
            {% include 'includes/reviews_over_button.html' %}
        {% else %}
            {% if not assignment.is_done %}
                <button type="submit" name="save_and_continue" class="btn"><i class="icon-time"></i> Continue later</button>
                <button type="submit" name="save_and_submit" class="btn"><i class="icon-ok"></i> Submit</button>
            {% else %}
                <button type="submit" name="save" class="btn"><i class="icon-ok"></i> Update</button>
            {% endif %}
        {% endif %} 
        <a href="{% url 'reviews' conference.pk %}" class="btn btn-info">
            <i class="icon-share-alt icon-white"></i> To reviews
        </a>
    </div>
</form>


{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}star/jquery.ui.stars.js"></script>
<script src="{{ STATIC_URL }}star/jquery.ui.stars.min.js"></script>
<script>
    $("#overall_evaluations_stars").stars({
        captionEl: $("#overall_evaluation-label"),
        inputType: "select",
        callback: function(ui, type, value) {
            $("#overall_evaluations").attr("value", value);
        }
    });
    
    $("#overall_evaluations_stars").stars("select", {{initial_overall_evaluation}}); 
</script>
{% endblock %}
