{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Conference {% endblock %}

{% block content_header %}
<h1>Alerts</h1>
{% endblock %}

{% block content_main %}
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>Title</th>
            <th>Trigger</th>
            <th>Recipients</th>
        </tr>
        {% if not alerts_trigget and not alerts_reminder and not alerts_action %}
            <tr><td colspan=4>No alert for this conference.</td></tr>
        {% endif %}

        {% for alert in alerts_trigger %}
            {% include 'includes/alerts_list.html' with alert=alert %}
        {% endfor %}

        {% for alert in alerts_reminder %}
            {% include 'includes/alerts_list.html' with alert=alert %}
        {% endfor %}

        {% for alert in alerts_action %}
            {% include 'includes/alerts_list.html' with alert=alert %}
        {% endfor %}
    </tbody>
</table>
<p><a href="{% url 'dashboard' %}" class="btn btn-info">
    <i class="icon-share-alt icon-white"></i> To dashboard
</a></p>
{% endblock %}
