{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Conference {% endblock %}

{% block content_header %}
<div class="row">
    <div class="span3">
        <h1>Alerts</h1>
    </div>
    <div class="span2">
        <a href="{% url 'alert' conference.pk %}" class="btn"><i class="icon-file"></i> Create alert</a>
    </div>
</div>
{% endblock %}

{% block content_main %}
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>Title</th>
            <th>Trigger</th>
            <th>Recipients</th>
        </tr>
        {% if not alerts_trigget and not alerts_reminder and not alerts_action %}
            <tr><td colspan=4>No alert for this conference.</td></tr>
        {% endif %}

        {% for alert in alerts_trigger %}
            {% include 'includes/alerts_list.html' with alert=alert trigger=alert.trigger_date|date:'SHORT_DATE_FORMAT' %}
        {% endfor %}

        {% for alert in alerts_reminder %}
            {% include 'includes/alerts_list.html' with alert=alert trigger=alert.reminder event=alert.event %}
        {% endfor %}

        {% for alert in alerts_action %}
            {% include 'includes/alerts_list.html' with alert=alert trigger=alert.action %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
