{% extends "base-out.html" %}
{% load url from future %}

{% block title %}Are you sure you want to close your conference ?{% endblock %}

{% block content %}
<div class="modal">
    <div class="modal-header">
        <h3>Are you sure you want to close the conference: {{ conference.title }} ?</h3>
        <p></p>
    </div>
    <div class="modal-body">
        <form action="{% url 'close_conference' %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="YES I AM SURE, close the conference">
            <a href="{% url 'home_conference' %}" class="btn btn-danger">NO I DON'T WANT, return</a>
        </form>
    </div>
</div>
{% endblock %}

