{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Conference "{{ conference.title }}"{% endblock %}
{% block brand %}Conference "{{ conference.title }}"  

{% if not conference.is_open %}
(closed)
{% endif %}



{% endblock %}

{% block content_header %}
<h1>Dashboard</h1>
<h3>as
    {{membership.roles.all|join:', '}}
</h3><br/>
{% endblock %}

{% block subtopbar %}
<div class="span12 db-top">
    <div class="db-top-inner-min">
        <i class="icon-calendar icon-white"></i> Start date {{ conference.start_date|date:'SHORT_DATE_FORMAT' }} | 
        <i class="icon-info-sign icon-white"></i> Submissions end date {{ conference.submissions_end_date|date:'SHORT_DATE_FORMAT' }} | 
        <i class="icon-exclamation-sign icon-white"></i> Reviews end date {{ conference.reviews_end_date|date:'SHORT_DATE_FORMAT' }}
    </div>
</div>
{% endblock %}

{% block content_main %}

<p><b>
    {% for role in membership.roles.all %}
        {% ifequal role.name 'Chair' %}
        <a href="{% url 'assignments' %}" class="btn btn-primary" >Reviews Assignments</a>
            <a href="{% url 'conference_edit' conference.pk %}" class="btn btn-primary" >Edit the conference</a>
            <a href="{% url 'paper_selection_list' %}" class="btn btn-info">Paper selection</a>
            <a href="{% url 'create_alert' conference.pk %}" class="btn btn-info">Create Alert</a>
            <span>&nbsp;</span>
        {% endifequal %}
        {% ifequal role.name 'Submitter' %}
            <a href="{% url 'submit_paper' membership.conference.pk %}" class="btn" >Submit paper</a>
            <span>&nbsp;</span>
        {% endifequal %}
    {% endfor %}
</b></p>

<br/>
{% for role in membership.roles.all %} {% ifequal role.name 'Chair' %}
<table width="100%"><tr>
    <td width="45%" valign="top">
        <h3>Last submissions</h3>
            <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Submit date</th>
            </tr>
            {% for paper in conference_papers %}
                <tr>
                    <td><b>{{paper.title}}</b></td>
                    <td>{{paper.submission_date|date:"m/d/y"}}</td>
                </tr>
            {% empty %}
                <tr><td colspan="2">No submissions for this conference.</td></tr>
            {% endfor %}
        </table>
    </td>
    <td width="1%">&nbsp;</td>
    <td width="45%" valign="top">
        <h3>Last finished reviews</h3>
        <table class="table table-striped">
            <tr>
                <th>Paper title</th>
                <th>Review title</th>
            </tr>
            {% for assignment in conference_assignments %}
                <tr>
                    <td>{{assignment.paper.title}}</td>
                    <td>{{assignment.review.title}}</td>
                </tr>
            {% empty %}
                <tr><td colspan="2">No reviews for this conference.</td></tr>
            {% endfor %}
        </table>
    </td>
</tr></table>
{% endifequal %} {% endfor %}


{% if user_papers.count > 0 %}
<h3>My submissions</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Submit date</th>
            <th>Last update date</th>
            <th></th>
        </tr>
        {% for paper in user_papers.all %}
        <tr>
            <td><b>{{paper.title}}</b></td>
            <td>{{paper.submission_date|date:"m/d/y"}}</td>
            <td>{{paper.last_update_date|date:"m/d/y"}}</td>
            <td><a href="{% url 'edit_paper' conference.pk paper.pk %}" class="btn btn-info">Edit paper</a></td>
        </tr>
        {% empty %}
            <tr><td colspan="4">You haven't submit a paper for this conference.</td></tr>
        {% endfor %}
    </table>
{% endif %}


{% if user_assignments.count > 0 %}
<h3>My assignments</h3>
    <table class="table table-striped">
        <tr>
            <th>Paper title</th>
            <th>Is done ?</th>
            <th></th>
        </tr>
        {% for assignment in user_assignments.all %}
        <tr>
            <td><b>{{assignment.paper.title}}</b></td>
            <td>{{assignment.is_done}}</td>
            <td><a href="{% url 'submit_review' assignment.pk %}" class="btn">
                {% if assignment.is_done %} 
                    Edit review 
                {% else %} 
                    Submit review 
                {% endif %}
            </a></td>
        
        </tr>
        {% empty %}
            <tr><td colspan="4">You haven't receive an assignment for this conference.</td></tr>
        {% endfor %}
    </table>
{% endif %}




{% if alerts_trigger %}

<h3>Alerts with trigger</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for alert in alerts_trigger %}
        <tr>
            <td>{{alert.title}}</td>
            <td>{{alert.trigger_date|date:"m/d/y"}}</td>
            <td>
                {% for role in alert.roles.all %}
                    {{role}}
                {% empty %}
                    None
                {% endfor %}
            </td>
            <td><a href="{% url 'edit_alert' alert.pk %}" class="btn btn-info">Edit the alert</a></td>
            <td><a href="{% url 'delete_alert' alert.pk %}" class="btn btn-danger">Delete the alert</a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if alerts_reminder %}
<h3>Alerts with reminder</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Reminder</th>
            <th>Event</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
            
        </tr>
        {% for alert in alerts_reminder %}
        <tr>
            <td>{{alert.title}}</td>
            <td>{{alert.reminder.name}}</td>
            <td>{{alert.event.name}}</td>
            <td>
                {% for role in alert.roles.all %}
                    {{role}}
                {% empty %}
                    None
                {% endfor %}
            </td>
            <td><a href="{% url 'edit_alert' alert.pk %}" class="btn btn-info">Edit the alert</a></td>
            <td><a href="{% url 'delete_alert' alert.pk %}" class="btn btn-danger">Delete the alert</a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if alerts_action %}
<h3>Alerts with action</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Action</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Alert</th>
        </tr>
        {% for alert in alerts_action %}
        <tr>
            <td>{{alert.title}}</td>
            <td>{{alert.action.name}}</td>
            <td>
                {% for role in alert.roles.all %}
                    {{role}}
                {% empty %}
                    None
                {% endfor %}
            </td>
            <td><a href="{% url 'edit_alert' alert.pk %}" class="btn btn-info">Edit the alert</a></td>
            <td><a href="{% url 'delete_alert' alert.pk %}" class="btn btn-danger">Delete the alert</a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
