{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Conference "{{ conference.title }}"{% endblock %}
{% block brand %}Conference "{{ conference.title }}"{% endblock %}

{% block content_header %}
<h1>Dashboard</h1>
<h3>as
    {{membership.roles.all|join:', '}}
</h3><br/>
{% endblock %}

{% block subtopbar %}
<div class="span12 db-top">
    <div class="db-top-inner-min">
        <i class="icon-calendar icon-white"></i> Start date {{ conference.start_date|date:'SHORT_DATE_FORMAT' }} | 
        <i class="icon-info-sign icon-white"></i> Submissions end date {{ conference.submissions_end_date|date:'SHORT_DATE_FORMAT' }} | 
        <i class="icon-exclamation-sign icon-white"></i> Reviews end date {{ conference.reviews_end_date|date:'SHORT_DATE_FORMAT' }}
    </div>
</div>
{% endblock %}

{% block content_main %}

<p><b>
    {% for role in membership.roles.all %}
        {% ifequal role.name 'Chair' %}
            <a href="{% url 'conference_edit' conference.pk %}" class="btn btn-primary" >Edit the conference</a>
            <a href="{% url 'create_alert' %}" class="btn btn-info">Create Alert</a>
            <span>&nbsp;</span>
        {% endifequal %}
        {% ifequal role.name 'Reviewer' %}
            <a href="#" class="btn btn-info" >Submit review</a>
            <span>&nbsp;</span>
        {% endifequal %}
        {% ifequal role.name 'Submitter' %}
            <a href="{% url 'submit_paper' membership.conference.pk %}" class="btn" >Submit paper</a>
            <span>&nbsp;</span>
        {% endifequal %}
    {% endfor %}
</b></p>


{% if user_papers.count > 0 %}
<h3>My submissions</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Submit date</th>
            <th>Last update date</th>
        </tr>
        {% for paper in user_papers.all %}
        <tr>
            <td><b><a href="{% url 'edit_paper' conference.pk paper.pk %}">{{paper.title}}</a></b></td>
            <td>{{paper.submission_date|date:"m/d/y"}}</td>
            <td>{{paper.last_update_date|date:"m/d/y"}}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}


{% if conference_papers %}
<h3>Conference submissions</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Submit date</th>
            <th>Last update date</th>
        </tr>
        {% for paper in conference_papers %}
        <tr>
            <td><b>{{paper.title}}</b></td>
            <td>{{paper.submission_date|date:"m/d/y"}}</td>
            <td>{{paper.last_update_date|date:"m/d/y"}}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}



{% if alerts_trigger %}
<h3>Alerts with trigger</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>For President</th>
            <th>Roles</th>
        </tr>
        {% for alert in alerts_trigger %}
        <tr>
            <td>{{alert.title}}</td>
            <td>{{alert.trigger_date|date:"m/d/y"}}</td>
            <td>{{alert.for_president}}</td>
            <td>
                {% for role in alert.roles.all %}
                    {{role}}
                {% empty %}
                    None
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if alerts_reminder %}
<h3>Alerts with reminder</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Reminder</th>
            <th>Event</th>
            <th>For President</th>
            <th>Roles</th>
            
        </tr>
        {% for alert in alerts_reminder %}
        <tr>
            <td>{{alert.title}}</td>
            <td>{{alert.reminder.name}}</td>
            <td>{{alert.event.name}}</td>
            <td>{{alert.for_president}}</td>
            <td>
                {% for role in alert.roles.all %}
                    {{role}}
                {% empty %}
                    None
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if alerts_action %}
<h3>Alerts with action</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Action</th>
            <th>For President</th>
            <th>Roles</th>
        </tr>
        {% for alert in alerts_action %}
        <tr>
            <td>{{alert.title}}</td>
            <td>{{alert.action.name}}</td>
            <td>{{alert.for_president}}</td>
            <td>
                {% for role in alert.roles.all %}
                    {{role}}
                {% empty %}
                    None
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
