{% extends "base-in.html" %}
{% load url from future %}

{% block title %}Edit conference{% endblock %}

{% block content_header %}
<h1>Edit conference: {{ conference.title }}</h1>
{% endblock %}

{% block content_main %}
{% if form.errors %}
    <div class="alert alert-error">
        {{ form.errors }}
    </div>
{% endif %}

<form class="form-horizontal" method="post" action="">
{% csrf_token %}
    <div class="row">
        <div class="span5">
            <fieldset>
                <legend>Conference</legend>
                <div class="control-group">
                    <div class="controls">
                        <div class="controls-inputs">
                            {% if conference.isOpen %}
                                <a href="{% url 'close_conference' %}" class="btn btn-danger">Close the conference</a>
                            {% else %}
                                <a href="{% url 'open_conference' %}" class="btn btn-success">Open the conference</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_url">{{ form.url.label }}</label>
                    <div class="controls">   
                        <div class="input-prepend">    
                            <span class="add-on"><i class="icon-home"></i></span>
                            <input name="url" value="{{ conference.url }}" class="input-medium" type="text" id="id_url" />
                        </div>    
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_startConfDate">Starts</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                            <input name="startConfDate" value="{{ conference.startConfDate|date:'m/d/Y' }}" class="input-small datepicker" type="text" id="id_startConfDate" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_endConfDate">Ends</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                            <input name="endConfDate" value="{{ conference.endConfDate|date:'m/d/Y' }}" class="input-small datepicker" type="text" id="id_endConfDate" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="span5">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">{{ form.domains.label }}</label>
                    <div class="controls">   
                        <div class="controls-inputs">    
                            {{ form.domains }}
                        </div>    
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="span5">
            <fieldset>
                <legend>Submissions</legend>
                 <div class="control-group">
                    <label class="control-label" for="id_startSubmitDate">Start</label>
                    <div class="controls">   
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                            <input name="startSubmitDate" value="{{ conference.startConfDate|date:'m/d/Y' }}" class="input-small datepicker" type="text" id="id_startSubmitDate" />
                        </div>    
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label" for="id_endSubmitDate">End</label>
                    <div class="controls">   
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                            <input name="endSubmitDate" value="{{ conference.endSubmitDate|date:'m/d/Y' }}" class="input-small datepicker" type="text" id="id_endSubmitDate" />
                        </div>    
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="span5">
            <fieldset>
                <legend>Evaluations</legend>
                <div class="control-group">
                    <label class="control-label" for="id_startEvaluationDate">Start</label>
                    <div class="controls">   
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar"></i></span>    
                            <input name="startEvaluationDate" value="{{ conference.startEvaluationDate|date:'m/d/Y' }}" class="input-small datepicker" type="text" id="id_startEvaluationDate" />
                        </div>    
                    </div>
                </div>     
                <div class="control-group">
                    <label class="control-label" for="id_endEvaluationDate">End</label>
                    <div class="controls">   
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar"></i></span>   
                            <input name="endEvaluationDate" value="{{ conference.endEvaluationDate|date:'m/d/Y' }}" class="input-small datepicker" type="text" id="id_endEvaluationDate" />
                        </div>    
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    	$('.datepicker').datepicker();

});
</script>
{% endblock %}