{% extends "base-in.html" %}
{% load url from future %}


{% block title %}Edit conference{% endblock %}

{% block content_header %}
<h1>Edit</h1>
{% endblock %}


{% block content_main %}

{% if auth == "true" %}
    <h2> {{ conference.title }} </h2>
<br>

<form method="post" action="">
{% csrf_token %}
    {{ form.as_p }}
<br>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
<h1> You are not authorized to edit this conference </h1>

{% endif %}

{% endblock %}

