{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Invite someone to participate{% endblock %}

{% block content_header %}
<h1>Invite someone to participate in the Conference</h1>
{% endblock %}

{% block content_main %}
<form class="form-horizontal" method="post">{% csrf_token %}
    {% include 'includes/form.html' %}
    <div class="form-actions">
        <button type="submit" class="btn"><i class="icon-envelope"></i> Send invitation</button> 
        <a href="{% url 'invitations' conference.pk %}" class="btn btn-info">
            <i class="icon-share-alt icon-white"></i> To invitations
        </a>
    </div>
</form>
{% endblock %}
