{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Invite someone to participate{% endblock %}

{% block content_header %}
<h1>Invite someone to participate in the Conference</h1>
{% endblock %}

{% block content_main %}
<form class="form-horizontal" method="post">{% csrf_token %}
    {% include 'includes/form.html' %}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Send invitation">
        <a href="{% url 'dashboard' %}" class="btn btn-danger">Return</a>
    </div>
</form>
{% endblock %}
