{% load url from future %}
{% autoescape off %}
Hello,

You have been invited to participate in the conference "{{ invitation.conference }}" as {{ roles|join:", " }}.

This invitation comes with the following message from the chair of the conference :

"{{ invitation.message }}"

If you wish to accept the invitation, please click on the following link :
http://{{ domain }}{% url 'invitation_accept' invitation.conference.pk invitation.key %}

If you are not available or interested, please click on the following link :
http://{{ domain }}{% url 'invitation_refuse' invitation.conference.pk invitation.key %}
{% endautoescape %}
