{% extends "base-in.html" %}
{% load url from future %}

{% block title %}Conference {% endblock %}

{% block content_header %}
<h1>Conference List</h1>
{% endblock %}

{% block content_main %}


{% if conferences_president %}

    <fieldset>
	    <h3><div style="background-color: #0088CC; color: #FFFFFF;">
		    Conferences I am President for...
	    </div></h3>
	    <div>
	        <table class="table">
			    <tr>
				    <th>Title</th>
				    <th>Start Conference Date</th>
				    <th>End Conference Date</th>
			    </tr>
		        {% for conf in conferences_president %}
				    <tr class="headline">
				        <td><b><a href="{%url 'change_conference' conf.pk %}">{{ conf.title }}</a></b></td>
				        <td>{{ conf.startConfDate }}</td>
				        <td>{{ conf.endConfDate }}</td>
			        </tr>
                {% endfor %}
		    </table>
	        </div>
    {% endif %}
    <br/><br/><br/>
    
    
    {% if conferences_with_role %}
	    <h3><div style="background-color: #0088CC; color: #FFFFFF;">
		    Conferences I have a Role for...
	    </div></h3>
	    <div>
		    <table class="table">
			    <tr>
				    <th>Title</th>
				    <th>President</th>
				    <th>Start Conference Date</th>
				    <th>End Conference Date</th>
			    </tr>
		        {% for confaccountrole in conferences_with_role %}
				    <tr class="headline">
				        <td><b>{{ confaccountrole.conference.title }}</b></td>
				        <td>{{ confaccountrole.conference.president }}</td>
				        <td>{{ confaccountrole.conference.startConfDate }}</td>
				        <td>{{ confaccountrole.conference.endConfDate }}</td>
				        <td>0</td>
				        <td><i class="icon-chevron-down"></i></td>
			        </tr>
                        
					           
        				<tr>
				            <td colspan="4">
					            <div class="contentTextPander">
        				            {% for myrole in confaccountrole.role.all %} 
						                <div style="padding: 5px 0px"><a href="{% url 'change_conference' confaccountrole.conference.pk %}">{{ myrole.name }}</a></div>
					                {% endfor %}
					            </div>
				            </td>
			            </tr>
                    
                {% endfor %}
                
		    </table>
	        </div>
    {% endif %}
    </fieldset>

{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    var $textpanderContent = $(".contentTextPander");
	$(".contentTextPander").hide();
	$(".headline").click(function(){
		$(this).next().find(".contentTextPander").slideToggle();
		
		var down = "icon-chevron-down";
		var up = "icon-chevron-up";
		if ($(this).find("." + up).length){
			down = "icon-chevron-down";
			up = "icon-chevron-up";
		}
		else{
			up = "icon-chevron-down";
			down = "icon-chevron-up";
		}
		$(this).find("." + up).toggleClass(down);
		$(this).find("." + up).removeClass(up);
	})

    
});

</script>
{% endblock %}
