{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Members {% endblock %}

{% block content_header %}
<div class="row">
    <div class="span3">
        <h1>Members</h1>
    </div>
    <div class="span2">
        <a href="{% url 'conference_invite' conference.pk %}" class="btn"><i class="icon-gift"></i> Invite someone</a>
    </div>
</div>
{% endblock %}

{% block content_main %}

<table class="table table-striped table-bordered sorted-datatable">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Domains</th>
            <th>Languages</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        {% for member in memberships_list %}
            <tr>
                <td>{{member.user.first_name}}</td>
                <td>{{member.user.last_name}}</td>
                <td>{{member.user.email}}</td>
                <td>{{member.domains.all|join:", "}}</td>
                <td>{{member.user.languages.all|join:", "}}</td>
                <td>{% for role in member.roles.all %}
                    <span class="label">{{ role }}</span>
                {% endfor %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
$(document).ready(
    $('.collapse').collapse()
); 
</script>

{% endblock %}
