{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}{{ conference }}{% endblock %}

{% block content_header %}
<h1>Welcome to the conference {{ conference }}</h1>
{% endblock %}

{% block subtopbar %}
{% endblock %}

{% block content_main %}
<form class="form-horizontal" method="post">{% csrf_token %}
    <div class="row">
        <div class="span10">
            Choose your domains for this conference.
        </div>
    </div>
    <br/>
    {% include 'includes/form.html' %}
    <div class="form-actions">
        <input type="submit" class="btn" value="Join"></button>
        <a href="{% url 'dashboard' %}" class="btn"><i class="icon-remove"></i> Refuse</a>
    </div>
    </fieldset>
</form>
{% endblock %}

{% block script %}
{% endblock %}
