{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}{{ conference }}{% endblock %}

{% block content_header %}
<h1>Welcome to the conference {{ conference }}</h1>
{% endblock %}

{% block subtopbar %}
{% endblock %}

{% block content_main %}
<form class="form-horizontal" method="post">{% csrf_token %}
    <div class="row">
        <div class="offset1 span3">
            <p>Choose your domains for this conference:</p>
        </div>
    </div>
    {% include 'includes/form.html' %}
    <div class="form-actions">
        <button type="submit" class="btn"><i class="icon-ok"></i>  Accept the invitation</button>
    </div>
    </fieldset>
</form>
{% endblock %}

{% block script %}
{% endblock %}
