{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Conference {% endblock %}

{% block content_header %}
<h1>My Conferences</h1><br/>
{% endblock %}

{% block content_main %}
<table class="table table-bordered ">
    <thead>
        <tr>
            <th>Title</th>
            <th>My roles</th>
            <th>Starting date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for membership in membership_list %}
        <tr class="infos">
            <td><strong>{{ membership.conference.title }}</strong></td>
            <td>
                {% for role in membership.roles.all %}
                    <span class="label">{{ role }}</span>
                {% endfor %}
            </td>
            <td>{{ membership.conference.start_date }}</td>
            <td>{% if membership.conference.is_open %}Open{% else %}Closed{% endif %}</td>
        </tr>

        <tr class="actions">
            {% if membership.conference.is_open or membership.has_chair_role %}
                <td colspan="1">
                    <a class="btn btn-info" href="{% url 'dashboard' membership.conference.pk %}"> Go to Dashboard </a>
                </td>
                <td colspan="3">
                    {% if membership.has_chair_role %}
                        <a class="btn btn-primary" href="{% url 'conference_edit' membership.conference.pk %}">Edit configuration</a>
                        <a class="btn btn-primary" href="{% url 'create_alert' membership.conference.pk %}">Create Alert</a>
                    {% endif %}
                    {% if membership.has_reviewer_role %}
                        <a class="btn btn-info" href="#">Submit review</a>
                    {% endif %}
                    {% if membership.has_submitter_role %}
                        <a class="btn" href="{% url 'submit_paper' membership.conference.pk %}">Submit paper</a>
                    {% endif %}
                </td>
            {% endif %}

        </tr>
        {% empty %}
            <h3>You are not subscribed to a conference</h3><br/>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block style %}
<style>
    tr.infos:hover {
        cursor:pointer;
    }
</style>
{% endblock %}
{% block script %}
<script>
    $(function() {
        $('tr.infos').click(function(e) {
            $(this).next().toggle('fast');
            return false;
        }).next().hide();
    });
</script>
{% endblock %}
