{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}Members {% endblock %}

{% block content_header %}
<div class="row">
    <div class="span3">
        <h1>Members</h1>
    </div>
    <div class="span2">
        <a href="{% url 'conference_invite' conference.pk %}" class="btn"><i class="icon-gift"></i> Invite someone</a>
    </div>
</div>
{% endblock %}

{% block content_main %}
<div class="accordion">
{% include 'includes/members_table.html' with members=chairs id='chairs' %}   
{% include 'includes/members_table.html' with members=reviewers id='reviewers' %}
{% include 'includes/members_table.html' with members=submitters id='submitters' %} 
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(
    $('.collapse').collapse()
); 
</script>

{% endblock %}
