{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}My Papers {% endblock %}

{% block content_header %}
<div class="row">
    <div class="span3">
        <h1>{% if is_conference_papers %}All Papers{% else %}My Papers{% endif %}</h1>
    </div>
    <div class="span2">
        {% if conference.are_submissions_over %}
            <a href="javascript:void(0)" class="btn disabled">Submissions are over</a>
        {% else %} {% if conference.are_submissions_notstarted %}
            <a href="javascript:void(0)" class="btn disabled">Submissions are not started</a>
        {% else %}
            <a href="{% url 'paper' membership.conference.pk %}" class="btn"><i class="icon-file"></i> Submit paper</a>
        {% endif %} {% endif %}
    </div>
</div>
{% endblock %}

{% block content_main %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Language</th>
            <th>Domains</th>
        </tr>
    </thead>
    <tbody>
        {% for paper in paper_list %}
        <tr class="row-actions">
            <td>
                <b>{{ paper.title }}</b>
                <span class="data-actions v-hidden"> 
                    {% if conference.are_submissions_over %}
                        <a href="javascript:void(0)" class="btn btn-mini disabled">Submissions are over</a>
                    {% else %} {% if conference.are_submissions_notstarted %}
                        <a href="javascript:void(0)" class="btn btn-mini disabled">Submissions are not started</a>
                    {% else %}
                        <a href="{% url 'paper' conference.pk paper.pk %}" class="btn btn-mini">Edit</a>
                    {% endif %} {% endif %}
                </span>
            </td>
            <td>{{ paper.submission_date }}</td>
            <td>{{ paper.language }}</td>
            <td>{% for domain in paper.domains.all %}<span class="label">{{ domain }}</span>{% endfor %}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No paper has been submitted yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
