{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}My Reviews {% endblock %}

{% block subtopbar %}{% endblock %}

{% block content_header %}
<h1>My Reviews</h1>
{% endblock %}

{% block content_main %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Paper title</th>
            <th>Is done ?</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in user_assignments.all %}
        <tr>
            <td><b>{{assignment.paper.title}}</b></td>
            <td>{{assignment.is_done}}</td>
            <td><center>
                {% if conference.are_reviews_over %}
                    {% include 'includes/reviews_over_button.html' %}
                {% else %}
                    <a href="{% url 'submit_review' conference.pk assignment.pk %}" class="btn
                        {% if assignment.is_done %} 
                            ">Edit review 
                        {% else %} 
                            btn-info"><b>Submit review</b> 
                        {% endif %}
                    </a>                            
                {% endif %}

            </center></td>
        
        </tr>
        {% empty %}
            <tr><td colspan="4">You haven't receive an assignment for this conference.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
