{% extends 'base-in.html' %}
{% load url from future %}

{% block title %} Send an Email {% endblock %}

 {% block content_header %}
<h1>Send Email to Users for : {{ conference.title}}</h1>
{% endblock %}

{% block content_main %}

<form class="form-horizontal" method="POST">{% csrf_token %}
    <div class="control-group">
        <label class="control-label">Select Receivers</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="type" id="users" value="users">
                Users
            </label>
            <label class="radio">
                <input type="radio" name="type" id="group" value="group">
                Group Selection
            </label>
        </div>
    </div>
    {% include 'includes/form.html' %}
    
    <div class="form-actions">
        <button type="submit" class="btn"><i class="icon-envelope"></i> Send</button>
        <a href="{% url 'dashboard' %}" class="btn btn-info">
            <i class="icon-share-alt icon-white"></i> To dashboard
        </a>
    </div>
</form>
{% endblock %}

{% block script %}
<script>
$(document).ready(
    toggleEvents()
);

function toggleEvents() {
    $('#id_groups, #id_users').closest('div.control-group').hide();
    
    $('#group').on('click', function() {
        $('#id_users').val('').closest('div.control-group').hide();
        $('#id_groups').closest('div.control-group').show('slow');
    });
    $('#users').on('click', function() {
        $('#id_groups').val('').closest('div.control-group').hide();
        $('#id_users').closest('div.control-group').show('slow');
    });
}   
    
</script>

{% endblock %}
