{% extends 'base-in.html' %}
{% load url from future %}

{% block title %}{% if alert.pk %} {{ alert.title }} {% else %} Create new alert {% endif %}{% endblock %}

{% block content_header %}
<h1>{% if alert.pk %} {{ alert }} {% else %} Create new alert {% endif %}</h1>
{% endblock %}

{% block content_main %}
<form class="form-horizontal" method="post">{% csrf_token %}
    <div class="control-group">
        <label class="control-label">Alert type</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="type" id="reminder" value="reminder">
                Reminder
            </label>
            <label class="radio">
                <input type="radio" name="type" id="trigger" value="trigger">
                Trigger Date
            </label>
            <label class="radio">
                <input type="radio" name="type" id="action" value="action">
                Action
            </label>
        </div>
    </div>
    {% include 'includes/form.html' %}
    <div class="form-actions">
        {% if alert.pk %}
            <button type="submit" class="btn"><i class="icon-ok"></i> Update</button> 
            <a href="{% url 'delete_alert' conference.pk alert.pk %}" class="btn"><i class="icon-trash"></i> Delete</a>
        {% else %} 
            <button type="submit" class="btn"><i class="icon-file"></i> Create alert</button>
        {% endif %}
        <a href="{% url 'alerts' conference.pk %}" class="btn btn-info">
            <i class="icon-share-alt icon-white"></i> To alerts
        </a>
    </div>
    </fieldset>
</form>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {}, toggleEvents() 
);

function toggleEvents() {
    $('#id_trigger_date, #id_action, #id_reminder, #id_event').closest('div.control-group').hide();
    
    {% if alert.reminder or alert.event %}
        $('#id_reminder, #id_event').closest('div.control-group').show();
        $('#reminder').click();
    {% endif %}
    
    {% if alert.action %}
        $('#id_action').closest('div.control-group').show();
        $('#action').click();
        refreshRolesAction();
    {% endif %}
    
    {% if alert.trigger_date %}
        $('#id_trigger_date').closest('div.control-group').show();
        $('#trigger').click();
    {% endif %}

    
    $('#reminder').on('click', function() {
        $('#id_trigger_date, #id_action').val('').closest('div.control-group').hide();
        $('#id_reminder, #id_event').closest('div.control-group').show('slow');
        refreshRoles();
    });
    $('#trigger').on('click', function() {
        $('#id_reminder, #id_action, #id_event').val('').closest('div.control-group').hide();
        $('#id_trigger_date').closest('div.control-group').show('slow');
        refreshRoles();
    });
    $('#action').on('click', function() {
        $('#id_trigger_date, #id_reminder, #id_event').val('').closest('div.control-group').hide();
        $('#id_action').closest('div.control-group').show('slow');
        refreshRolesAction();
    });
}

function refreshRolesAction() {
$('#id_roles')
    .find('option')
    .remove()
    .end()
    .append('<option value="{{role_action.pk}}" selected=\"selected\">{{role_action.name}}</option>')
    ;
}


function refreshRoles() {
$('#id_roles')
    .find('option')
    .remove()
    .end()
    {% for role in roles %}
        .append('<option value="{{role.pk}}">{{role.name}}</option>')
    {% endfor %}
    ;
}
</script>
{% endblock %}
