{% extends "base-out.html" %}
{% load url from future %}

{% block title %}Are you sure you want to delete your conference ?{% endblock %}

{% block content %}
<form class="form-horizontal" method="post">{% csrf_token %}
<div class="modal">
    <div class="modal-header">
        <h3>Confirm Deletion</h3>
    </div>
    <div class="modal-body">
        <p><b>Your alert :  {{ alert.title }} is about te be deleted.</b></p>
        <p>Please confirm or click on Return.</p>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Confirm">
        <a href="{% url 'dashboard' %}" class="btn btn-info">
            <i class="icon-share-alt icon-white"></i> To dashboard
        </a>
    </div>
</div>
{% endblock %}
