{% extends "base-in.html" %}
{% load url from future %}

{% block title %}Submission{% endblock %}


{% block content_header %}
<h1>
    {% if instance %}
        Edit paper
    {% else %}
        Submit paper
    {% endif %}
</h1><br/>
{% endblock %}

{% block content_main %}

<form id="form" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/form.html' %}

    <div class="form-actions">
        {% if conference.are_submissions_over %}
            {% include 'includes/submissions_over_button.html' %}
        {% else %}
            <input type="submit" class="btn btn-primary" value="{% if instance %} Update paper {% else %} Submit paper {% endif %}"/>
        {% endif%}
            <a href="{% url 'dashboard' %}" class="btn btn-danger">Return</a>
    </div>
    
</form>
{% endblock %}
