{% include 'includes/form_errors.html' with form=address_formset %}
{% load extra %}

{{ address_formset.management_form }}

<div class="control-group{% if formset.errors %} error{% endif %}" id="control_group_addresses">
    <label class="control-label">Addresses</label>
    <div class="controls" id="controls_addresses">
        {% for form in address_formset %}
            {% with field=form.value %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <p id="addresses-{{ forloop.counter0 }}">
                <textarea class="input-large" id="id_{{ field.html_name }}" {% ifnotequal field|type 'multiple_choice' %}name="{{ field.html_name }}" {% endifnotequal %} placeholder="{{ field.label }}">{{ field.value|default:'' }}</textarea>
                <span class="help-inline">{% if not forloop.first and not forloop.last %}<a href="#addresses-{{ forloop.counter0 }}" class="delete_address"><i class="icon-remove"></i></a>{% endif %}{% if field.errors %}{{ field.errors|first }}{% else %}{{ field.help_text }}{% endif %}</span>
                </p>
            {% endwith %}
        {% endfor %}
        <p class="help-block"></p>
    </div>
</div>
