{% load url from future %}

<tr class="row-actions">
    <td>
        <b>{{ alert.title }}</b>
        <span class="data-actions v-hidden"> 
            <a href="{% url 'alert' conference.pk alert.pk %}" class="btn btn-mini">Edit</a>
            <a href="{% url 'delete_alert' conference.pk alert.pk %}" class="btn btn-mini">Delete</a>
        </span>
    </td>
    <td>{{ alert.trigger_date|date:'SHORT_DATE_FORMAT' }}</td>
    <td>
        {% for role in alert.roles.all %}
            <span class="label">{{ role }}</span>
        {% endfor %}
    </td>
</tr>
