
<div class="modal hide fade" id="toggle_modal_loading">
    <div class="modal-header">
        <h3>Automatic review assignment is currently in progress</h3>
    </div>
    <div class="modal-body">
        <p><center><strong>please wait...</strong></center></p>
        <center><img src="{{ STATIC_URL }}ajax-loader.gif" alt="a gif load animation"/></center>
    </div>
</div>

<div class="row">
    <div class="span10">
        <form>
            <legend>Automatic assignment</legend>
            <div class="control-group">
                <div class="controls">
                    <div class="row">
                        <div class="span3">
                            <b>Maximum by paper:</b>
                            <div class="input-prepend">
                                <span class="add-on">
                                    <i class="icon icon-pencil"></i>
                                </span>
                                <input class="input-medium" type="text" name="avg_assi_by_paper" id="avg_assi_by_paper" placeholder="Maximum by paper" maxlength="4" rel="tooltip" title="Maximum by paper" />
                            </div>
                        </div>
                        <div class="span3">
                            <b>Maximum by reviewer:</b>
                            <div class="input-prepend">
                                <span class="add-on">
                                    <i class="icon icon-pencil"></i>
                                </span>
                                <input class="input-medium" type="text" name="avg_assi_by_reviewer" id="avg_assi_by_reviewer" placeholder="Maximum by reviewer" maxlength="4" rel="tooltip" title="Maximum by reviewer" />
                            </div>
                        </div>
                        <div class="span4">
                            <br/>
                            <a id="auto_assignment" href="javascript:void(0)" class="btn">
                                <i class="icon-refresh"></i> Automatic</a>
                        </div>
                    </div>
                    {% if automatic_assignment_code == 0 %}
                        <div class="alert alert-block alert-success fade in">
                            <h4 class="alert-heading">Automatic assignment successful</h4>
                            <p>Please check below.</p>
                        </div>  
                    {% endif %}
                    {% if automatic_assignment_code == 1 %}
                        <div class="alert alert-block alert-error fade in">
                            <h4 class="alert-heading">Automatic assignment warning</h4>
                            <p>Some papers didn't receive enough reviewers (minimum reviewers per paper: {{conference.minimum_reviews}}). 
			    Change settings (above or in the conference settings) or invite more skilled reviewers.</p>
                        </div>  
                    {% endif %}  

                    <br/>
                    <div class="row">
                        <div class="span10">
                            {% include 'includes/assignments_finalize.html' %}
                            {% include 'includes/assignments_clean.html' %}
                            <a href="{% url dashboard %}" class="btn btn-info">
                                <i class="icon-share-alt icon-white"></i> To dashboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="span10">
        <p><i class="icon-info-sign"></i> Drag your mouse over this icon below for more information.</p>
        <table class="table table-bordered" id="datas">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Submitter</th>
                    <th>Domains</th>
                    <th>Reviewers</th>
                    <th>Language</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for paper in papers %}
                <tr id="{{paper.pk}}" class="toggle-div">
                    <td><b>{{ paper.title }}</b></td>
                    <td>{{paper.submitter}}</td>
                    <td>
                        {{paper.domains.all|join:', '}}
                    </td>
                    <td id="assignments_{{paper.pk}}" 
                        not_assigned_value="{{paper.get_not_assigned_assignments_count}}"
                        assigned_value="{{paper.get_assigned_assignments_count}}"
                        data-original-title="Assignments not finalized: {{paper.get_not_assigned_assignments_count}}<br/>
                                                Assignments finalized: {{paper.get_assigned_assignments_count}}" 
                        class="tooltip-show">
                            <span id="value">{{paper.assignments.all.count}}</span>
                            <i class="icon-info-sign"></i>
                    </td>
                    <td>{{paper.language}}</td>
                    <td><i class="pull-right icon icon-chevron-down"></i></td>
                </tr>
                    
                <tr class="actions">
                    <td colspan="7">
                        <div class="toggle hidden">
                            <table class="table table-striped reviewers" id="table_{{paper.pk}}">
                                <tr>
                                    <th width="25%">Reviewer</th>
                                    <th width="30%">Domains</th>
                                    <th width="20%">Languages</th>
                                    <th width="10%">Assignation number</th>
                                    <th width="15%"></th>
                                </tr>
                                {% for assignment in paper.assignments.all %}
                                    {% if not assignment.is_assigned %}
                                        <tr>
                                            <td>{{assignment.reviewer}}</td>
                                            <td>{{assignment.get_domains.all|join:', '}}</td>
                                            <td>{{assignment.reviewer.languages.all|join:', '}}</td>
                                            <td id="paper_count_{{assignment.pk}}" >{{assignment.get_papers.count}}</td>
                                            <td><a href="javascript:void(0)" class="btn assignment" id="remove_{{assignment.pk}}--table_{{ paper.pk }}"><i class="icon-trash"></i> Remove</th></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        
                            <div class="toto">
                                <form>
                                    <label class="control-label">Click on the reviewers below to assign them on the current Paper</label>
                                    <select multiple="multiple" class="selectAdd input-xxlarge multiSelect isResizable" id="reviewers_list_{{ paper.pk }}">  
                                    </select>
                                    <label class="control-label" for="tags">Search reviewer :</label>
		                          	<div class="controls">
				                        <input type="text" id="textbox" class="span3" placeholder="Reviewer" value=""/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td><h3>There is no papers for this conference</h3></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
