{% load url from future %}

{% if conference.is_open %}
    <a id="toggle_conference" href="#" class="btn btn-danger">Close the conference</a>
{% else %}
    <a id="toggle_conference" href="#" class="btn btn-success">Open the conference</a>
{% endif %}
<div class="modal hide fade" id="toggle_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>{% if conference.is_open %}Closing{% else %}Opening{% endif %} "{{ conference.title }}"</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure that you want to {% if conference.is_open %}close{% else %}open{% endif %} the conference "<strong>{{ conference.title }}</strong>"?</p>
    </div>
    <div class="modal-footer">
        <a href="{% url 'conference_toggle' conference.id %}?next={{ next }}" class="btn btn-large btn-primary">Yes, I am</a>
        <a data-dismiss="modal" class="btn btn-large">No, forgive me</a>
    </div>
</div>
