{% load extra %}

{% include 'includes/form_errors.html' with form=form %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}

<div id="id_{{ form.prefix }}">
    {% for field in form.visible_fields %}
    <div class="control-group {% if field.errors %}error{% endif %}{% if first %}first{% endif %}" id="control_id_{{ field.html_name }}">
        <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}
            {% if confirmed %}
                <a href="#" class="confirmed" rel="tooltip" title="This email has been confirmed"><i class="icon icon-ok"></i></a>
            {% endif %}
        </label>
        <div class="controls">
            {% block controls %}
            {% ifequal field|type 'date' %}
                {% include 'includes/fields/input_prepend.html' with icon='calendar' field=field|calendar %}
            {% endifequal %}
            {% ifequal field|type 'password' %}
                {% include 'includes/fields/input_prepend.html' with icon='lock' field=field|medium %}
            {% endifequal %}
            {% if field|type == 'text' %}
                {% include 'includes/fields/input_prepend.html' with icon='pencil' field=field|medium %}
            {% endif %}
            {% if field|type == 'email' %}
                {% include 'includes/fields/input_prepend.html' with icon='envelope' field=field|medium first=first edit=edit confirmed=confirmed prefix=prefix %}
            {% endif %}
            {% if field|type == 'textarea' %}
		{% if big == 'True' %}
		         {% include 'includes/fields/textarea.html' with field=field|bigtextarea first=first edit=edit prefix=prefix %}
                {% else %}
			 {% include 'includes/fields/textarea.html' with field=field|textarea first=first edit=edit prefix=prefix %}
		{% endif %}
            {% endif %}
            {% if field|type == 'select' or field|type == 'selectm' %}
                {{ field }}
            {% endif %}
            {% if field|type == 'checkbox' %}
                {% include 'includes/fields/checkbox.html' with field=field %}
            {% endif %}
            {% endblock %}
            <p class="help-block">{{ field.help_text }}</p>
        </div>
    </div>
    {% endfor %}
</div>
