{% load extra %}

{% if formset.non_field_errors %}
<div class="alert alert-error">
    {% for error in formset.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}

<{% ifequal list 'True' %}ul class="unstyled"{% else %}div{% endifequal %} id="id_{{ formset.prefix }}">
    {{ formset.management_form }}

    {% for form in formset %}
        {% ifequal list 'True' %}<li {% if forloop.first %}class="clone"{% endif %}>{% endifequal %}{% include 'includes/form.html' with edit=edit first=forloop.first confirmed=form.confirmed %}{% ifequal list 'True' %}</li>{% endifequal %}
    {% endfor %}
</{% ifequal list 'True' %}ul{% else %}div{% endifequal %}>
